<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
	<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
</header>
<main>
	<div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
	<div>
		<h1>userInfo</h1>
		<form action="user_edit" method="post" enctype="multipart/form-data">
			<ul>
				<li><img th:src="@{|/images/user/${user.fileName}|}" alt=""/></li>
				<li style="display:none;"><a th:href="@{|/images/${user.fileName}|}">[[${user.fileName}]]</a></li>
				<li id="photo"><input type="file" name="photo"></li>
				<li>이름 <input type="text" name="uname" th:value="${user.uname}"></li>
				<li>성별 <input type="text" name="gender" th:value="${user.gender}" readonly> </li>
				<li>생년월일 <input type="text" name="birthDate" th:value="${user.birthDate}" readonly> </li>
				<li>아이디 <input type="text" name="uid" th:value="${user.uid}" readonly></li>
	            <li>비밀번호 <input type="password" name="upw" placeholder="비밀번호*" id="upw"></li>
	            <div class="strongPassword-message hide">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</div>
	            <li>비밀번호 확인 <input type="password" name="upw2" placeholder="비밀번호확인*" id="upw2"></li>
	            <li id="upw-msg"></li>
				<li>주소 <input type="text" name="uaddr" th:value="${user.uaddr}"></li>
				<li>전화번호 <input type="text" name="tel" th:value="${user.tel}"></li>
				<li>이메일 <input type="text" name="email" th:value="${user.email}"></li>
				<li><input type="submit" value="수정하기"></li>
		 	</ul>
		 </form>
    </div>
</main>
	<footer>
		<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
	</footer>


	 <script>
// 	 비밀번호 1과 2와 같은지 확인하는 코드
	const upw = document.getElementById("upw");
    const upw2 = document.getElementById("upw2");

    upw2.addEventListener('input', function() {
      const upwInput = upw.value;
      const upw2Input = upw2.value;
      
      if(upwInput === upw2Input) {
         document.getElementById("upw-msg").innerText = "비밀번호 입력이 완료되었습니다."
      }else{
         document.getElementById("upw-msg").innerText = "비밀번호가 같지 않습니다."
      }
   });



    // 실패 메시지 정보 가져오기 (8글자 이상, 영문, 숫자, 특수문자 미사용)
    let elStrongPasswordMessage = document.querySelector('.strongPassword-message');

    function strongPassword (str) {
        return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(str);
    }

    upw.onkeyup = function () {
    console.log(upw.value);
    // 값을 입력한 경우
    if (upw.value.length !== 0) {
        if(strongPassword(upw.value)) {
            elStrongPasswordMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
        }
        else {
            elStrongPasswordMessage.classList.remove('hide'); // 실패 메시지가 보여야 함
        }
    }
    // 값을 입력하지 않은 경우 (지웠을 때)
    // 모든 메시지를 가린다.
    else {
        elStrongPasswordMessage.classList.add('hide');
    }
};


	 </script>
</body>
</html>