<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/userMainStyle.css">
</head>

<body>
    <div id="wrap">
        <header>
            <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
        </header>
      
        <div id="ai">
            <ul>
                <li onclick="location.href='/user/user_recruitDetail?jno=4'" id="ai1"></li>
                <li onclick="location.href='/user/user_recruitDetail?jno=4'" id="ai2"></li>
                <li onclick="location.href='/user/user_recruitDetail?jno=4'" id="ai3"></li>
                <li onclick="location.href='/user/user_recruitDetail?jno=4'" id="ai4"></li>
                <li onclick="location.href='/user/user_recruitDetail?jno=4'" id="ai5"></li>
            </ul>
        </div>

        <section>
            <ul id="lastest">
                <li id="jobad1" onclick="location.href='/user/user_recruitDetail?jno=4'"></li>
                <li id="jobad2" onclick="location.href='/user/user_recruitDetail?jno=5'"></li>
                <li id="jobad3" onclick="location.href='/user/user_recruitDetail?jno=4'"></li>
                <li id="jobad4" onclick="location.href='/user/user_recruitDetail?jno=4'"></li>
            </ul>

            <ul id="button">
                <li><a href="user_recruit_region">지역별</a></li>
                <li><a href="user_recruit_job">직무별</a></li>
                <li><a href="user_recruit_type">업종별</a></li>
            </ul>
        </section>
        <footer>
            <div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
        </footer>
    </div>

    
</body>

</html>