<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<header>
	<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
</header>
<main>
	<div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
	<div ckass="content">
	<h1>마이페이지</h1>
	<h3>회원정보</h3>
	<!-- 이미지 파일 넣어주기 -->
		<h2 th:text="${user.uname}"></h2>
		<span>생년월일</span> <span th:text="${user.birthDate}"></span>
		<span>전화번호</span> <span th:text="${user.tel}"></span>
		<span>주소</span> <span th:text="${user.uaddr}"></span>
		<a href="user_information">회원정보 수정하기</a>
	</div>
	<div>
		<h3>이력서 관리</h3>
		<table>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>대표</th>
			</tr>
			<tr th:each="resumeList, stat :${resumeList}">
				<td>[[${stat.count}]]</td>
				<td>[[${resumeList.rtitle}]]</td>
				<td>[[${resumeList.def}]]</td>
			</tr>
		</table>
	</div>
	
	<div>
	<table>
		<tr>
			<a>구독기업</a>
			<a>스크랩공고</a>
			<a>받은제안 관리</a>
			<a>입사지원 관리</a>
		</tr>
		<tr>
			<a>희망근무조건</a>
			<a>최근 본 공고</a>
			<a>평점관리</a>
			<a>커뮤니티 관리</a>
		</tr>
	</table>
		
	</div>
</main>
	<footer>
		<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
	</footer>
</body>



<script th:inline="javascript">



// 	if([[${result}]] == "false"){
// 		alert("등록된 이력서가 없습니다. 빠른 구직을 위하여 이력서를 등록해주세요");
// 	}
	
</script>
</html>