<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/userApplyListStyle.css">
</head>

<body>
    <div id="wrap">
        <header>
            <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
        </header>
        <div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
        <div id="title_wrap">
            <div class="title1">마이페이지</div>
            <div class="title2">입사지원 관리</div>
            <div class="title3">내가 지원한 기업 리스트</div>
        </div>
        <div id="apply-wrap">
            <table>
                <thead>
                    <th>기업명</th>
                    <th>공고명</th>
                    <th>직무</th>
                    <th>업종</th>
                    <th>날짜</th>
                    <th>진행상황</th>
                    <th>지원철회</th>
                    <th>이력서</th>
                </thead>
                <tbody>
                    <tr th:each="apply:${apply}">
                        <td>[[${apply.jobAd.company.cname}]]</td>
                        <td>
                            <a th:href="@{/user/user_recruitDetail(jno=${apply.jobAd.jno})}">
                                [[${apply.jobAd.wantedTitle}]]
                            </a>
                        </td>
                        <td>[[${apply.jobAd.position2}]]</td>
                        <td>[[${apply.jobAd.sector2}]]</td>
                        <td>[[${apply.regdate}]]</td>
                        <td
                            th:text="${apply.status == 0 ? '지원완료' : (apply.status == 1 ? '면접제안' : (apply.status == 2 ? '면접완료' : ''))}">
                            [[${apply.status == 0 ? '지원완료' : (apply.status == 1 ? '면접제안' : (apply.status == 2 ? '면접완료' :
                            ''))}]]
                        </td>
                        <td class="deleteBtn">
                            <span style="display:none;">[[${apply.ano}]]</span>
                            ❌
                        </td>
                        <td><a href="../images/pen.png" name="_blank">🔍</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
            <div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
        </footer>
    </div>

    <script th:inline="javascript">
        const deleteBtn = document.querySelector(".deleteBtn");
       if(deleteBtn != null){
    	   deleteBtn.addEventListener("click", function (e) {
               let ano = e.target.querySelector("span").innerText;
               if (confirm("정말로 지원을 철회하시겠습니까?")) {
                   location.href = "/user/deleteUserApplyList?ano=" + ano;
               }
           })
       }
       
    </script>
</body>

</html>