<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
	.link-icon { position: relative; display: inline-block; width: auto; font-size: 14px; font-weight: 500; color: #333; margin-right: 10px; padding-top: 50px; }
	.link-icon.twitter { background-image: url(/images/icon/icon-twitter.png); background-repeat: no-repeat; }
	.link-icon.facebook { background-image: url(/images/icon/icon-facebook.png); background-repeat: no-repeat; } 
	.link-icon.kakao { background-image: url(/images/icon/icon-kakao.png); background-repeat: no-repeat; }
     #chart-container {
         height: 500px;
     }

</style>
</head>
<body>
	<header>
		<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
	</header>
	<main>
		<div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
		<div>
		
		
		
<!-- 1. 복사(버튼) url 복사, 공유 기능 -->
<!-- 2. 채용제목/ 기업명/ 접수기간 등 -->
<!-- 3. 접수기간: D-day 기능 (접수기간이 몇 일 남았는지?) -->
<!-- 4. 관심기업 구독(Button) -->
<!-- 5. 채용공고 스크랩(B) -->
<!-- 6. 채용공고 상세 정보(img도 가능 ) -->
<!-- 7. 기업자체 이력서 존재시 => 이력서 다운로드 버튼/ 없을시 채용사이트에 저장된 이력서목록보이기 -->
<!-- 8. 관련키워드(기업이 등록해놓은 관련업무) view -->
<!-- 9. 지원자 현황 (그래프나 인원수만 보이도록) -->
<!-- 10. 추천 일자리 (5개 표시;) -->

			<div id="copyBtn" onclick="copyToClipboard()"><img style="width:30px; height:30px;" th:src="@{/images/icon/copy.png}" alt="copyBtn"></div>
			<div>
				<a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();">트위터</a>
				<a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();">페이스북</a>    
				<a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();">카카오톡</a>
			</div>
			<h1>접수기간 d-day : <span id="dDay"></span></h1>
			<div id="likeContainer">
			</div>
			<div id="scrapContainer">
			</div>
			<button onclick="openPopUp()">지원서 제출하기</button>

			<div id="chart-container">
        		<canvas id="chart"></canvas>
    		</div>
			
			<div class="jobad header">
				<h3>[[${jobad.company.cname}]]</h3>
				<h1>[[${jobad.wantedTitle}]]</h1>
			</div>
			<div class="jobad company_info">
				<table>
					<tr>
						<th>대표자명</th>
						<td>[[${jobad.company.ceo}]]</td>
						<th>업종</th>
						<td>[[${jobad.company.sector}]]</td>
					</tr>
					<tr>
						<th>기업규모</th>
						<td>[[${jobad.company.size}]]</td>
						<th>주요사업</th>
						<td>[[${jobad.company.major}]]</td>
					</tr>
					<tr>
						<th>연매출액</th>
						<td>[[${jobad.company.yrSales}]]</td>
						<th>기업주소</th>
						<td>[[${jobad.company.caddr}]]</td>
						
					</tr>
				</table>
			</div>
			<div class="jobad main">
				<table>
					<tr>
						<th>직무</th>
						<td>[[${jobad.position1}]], [[${jobad.position2}]]</td>
						<th>업종</th>
						<td>[[${jobad.sector1}]], [[${jobad.sector2}]]</td>
						<th>상세공고</th>
						<td>[[${jobad.jobCont}]]</td>
					</tr>
					<tr>
						<th>채용 마감</th>
						<td>[[${jobad.receiptCloseDt}]]</td>
						<th>근무형태</th>
						<td>[[${jobad.empTpNm}]]</td>
					</tr>
					<tr>
						<th>채용인원</th>
						<td>[[${jobad.collectPsncnt}]]</td>
						<th>연봉</th>
						<td>[[${jobad.salTpNm}]]</td>
					</tr>
					<tr>
						<th>최소학력</th>
						<td>[[${jobad.minEdubglcd}]]</td>
						<th>최대학력</th>
						<td>[[${jobad.maxEdubglcd}]]</td>
					</tr>
					<tr>
						<th>병역특례채용희망</th>
						<td>[[${jobad.mltsvcExcHope}]]</td>
						<th>필요스킬</th>
						<td>[[${jobad.needskill}]]</td>
					</tr>
					<tr>
						<th>접수방법</th>
						<td>[[${jobad.rcptMthd}]]</td>
						<th>근무지역</th>
						<td>[[${jobad.region1}]], [[${jobad.region2}]]</td>
					</tr>
					<tr>
						<th>근무시간</th>
						<td>[[${jobad.WkdWkhCnt}]]</td>
						<th>퇴직금여부</th>
						<td>[[${jobad.retirepay}]]</td>
					</tr>
					<tr>
						<th>기타복리후생</th>
						<td>[[${jobad.etcWelfare}]]</td>
						<th>회사소개첨부파일</th>
						<td>[[${jobad.attachFileUrl}]]</td>
					</tr>
					<tr>
						<th>근무형태</th>
						<td>[[${jobad.enterTpCd}]]</td>
						<th>제출서류양식첨부</th>
						<td>[[${jobad.attachFileUrl2}]]</td>
					</tr>
					<tr>
						<th>임금형태</th>
						<td>[[${jobad.salTpCd}]]</td>
						<th>담당자명</th>
						<td>[[${jobad.empName}]]</td>
					</tr>
					<tr>
						<th>담당자 이메일</th>
						<td>[[${jobad.empEmail}]]</td>
						<th>담당자 번호</th>
						<td>[[${jobad.empTel}]]</td>
					</tr>
				</table>
			</div>
		</div>
	</main>
<script th:inline="javascript">
	const dDay = document.querySelector("#dDay");
	const targetDate = [[${jobad.receiptCloseDt}]];
	const regDate = [[${jobad.regdate}]];
	
	if([[${scrap == false}]]){
		document.querySelector("#scrapContainer").innerHTML="<div onclick='scrapJobad()'><img style='width:30px; height:30px;' src='/images/icon/save.png' alt='saveBtn'></div>";
	}else if([[${scrap == true}]]){
		document.querySelector("#scrapContainer").innerHTML="<div onclick='scrapJobad()'><img style='width:30px; height:30px;' src='/images/icon/save_full.png' alt='saveFullBtn'></div>";
	}
	if([[${interest == false}]]){
		document.querySelector("#likeContainer").innerHTML="<div onclick='likeTheCom()'><img style='width:30px; height:30px;' src='/images/icon/heart.png' alt='heartBtn'></div>";
	}else if([[${interest == true}]]){
		document.querySelector("#likeContainer").innerHTML="<div onclick='likeTheCom()'><img style='width:30px; height:30px;' src='/images/icon/heart_full.png' alt='heartFullBtn'></div>";
	}
	
	function openPopUp(){
		 window.open("http://localhost:8093/user/user_resumePick", "팝업 창", "width=600,height=400");
	}
	
	
	function scrapJobad(){
		 const xhttp = new XMLHttpRequest();
		 xhttp.onload = function() {
			 if(this.responseText == "added"){
				 alert("성공적으로 공고를 찜했습니다")
				 //버튼 색칠한거로 바꿔주기
				 document.querySelector("#scrapContainer").innerHTML="<div onclick='scrapJobad()'><img style='width:30px; height:30px;' src='/images/icon/save_full.png' alt='saveFullBtn'></div>";
			 }else{
				 if(confirm("정말 해당 공고를 찜 리스트에서 삭제하시겠습니까?")){
					 //비어있는 버튼으로 바꿔주기
					 document.querySelector("#scrapContainer").innerHTML="<div onclick='scrapJobad()'><img style='width:30px; height:30px;' src='/images/icon/save.png' alt='saveBtn'></div>";
				 }
			 }
		 }
		  xhttp.open("GET", "/user/scrapJobad?jno="+[[${jobad.jno}]], true);
		  xhttp.send();
	}
	function likeTheCom(){
		 const xhttp = new XMLHttpRequest();
		 xhttp.onload = function() {
			 if(this.responseText == "added"){
				 alert("성공적으로 해당기업을 구독 했습니다")
				 //버튼 색칠한거로 바꿔주기
				 document.querySelector("#likeContainer").innerHTML="<div onclick='likeTheCom()'><img style='width:30px; height:30px;' src='/images/icon/heart_full.png' alt='heartFullBtn'></div>";
				
			 }else{
				 if(confirm("정말 해당 기업을 구독 리스트에서 삭제하시겠습니까?")){
					 //비어있는 버튼으로 바꿔주기
					 document.querySelector("#likeContainer").innerHTML="<div onclick='likeTheCom()'><img style='width:30px; height:30px;' src='/images/icon/heart.png' alt='heartBtn'></div>";
				 }
			 }
		 }
		  xhttp.open("GET", "/user/likeTheCom?cid="+[[${jobad.company.cid}]], true);
		  xhttp.send();
	}
	
	
	
	  // 그래프 초기화
    document.addEventListener("DOMContentLoaded", function() {
        var chartContainer = document.getElementById('chart-container');
        var chartCanvas = document.getElementById('chart');
        var ctx = chartCanvas.getContext('2d');
        
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["공고등록일", "오늘"],
                datasets: [{
                    label: '실시간 지원자수 현황',
                    data: [1, 50],
                    borderColor: 'blue',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        display: true,
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 10
                        }
                    },
                    y: {
                        display: true,
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }
            }
        });
    });

	function calcDday(){
		 // 주어진 날짜와 현재 날짜 간의 차이 계산
	    const oneDay = 24 * 60 * 60 * 1000; // 하루를 밀리초 단위로 표현
	    const today = new Date(); // 현재 날짜
	    const target = new Date(targetDate); // 주어진 날짜

	    // 주어진 날짜와 현재 날짜 간의 차이를 일 단위로 계산
	    const diffDays = Math.round((target - today) / oneDay);

	    return diffDays;
	}
	const dday = calcDday(targetDate);
	dDay.innerHTML=dday;
	
	function copyToClipboard() {
	    var t = document.createElement("textarea");
	    document.body.appendChild(t);
	    t.value = window.location.href;
	    t.select();
	    document.execCommand('copy');
	    document.body.removeChild(t);
	};
    document.querySelector("#copyBtn").addEventListener("click", function() {
	      copyToClipboard(window.location.href);
	      alert('주소를 복사하였습니다');
	    })

	function shareTwitter() {
	    const sendText = [[${jobad.wantedTitle}]]; // 전달할 텍스트
	    const sendUrl = window.location.href; // 전달할 URL
	    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
	}
	function shareFacebook() {
	    var sendUrl = window.location.href; // 전달할 URL
	    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
	}
	function shareKakao() {
		  // 사용할 앱의 JavaScript 키 설정
		  Kakao.init('a65924b5ad21649d69b934fcd8c1eeea');
		  // 카카오링크 버튼 생성
		  Kakao.Link.createDefaultButton({
		    container: '#btnKakao', // 카카오공유버튼ID
		    objectType: 'feed',
		    content: {
		      title: [[${jobad.wantedTitle}]], // 보여질 제목
		      description: "잡왕채용공고", // 보여질 설명
		      imageUrl: window.location.href, // 콘텐츠 URL
		      link: {
		         mobileWebUrl: window.location.href,
		         webUrl: window.location.href
		      }
		    }
		  });
		}
</script>
</body>
</html>