<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/userRegFormStyle.css">
</head>

<body>
    <div id="wrap">
        <header>
            <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
        </header>
        <ul class="container">
            <div id="tab_wrap">
                <ul class="tabs">
                    <li id="userTab" class="tab-link current" data-tab="user_reg">개인회원</li>
                    <li id="companyTab" class="tab-link" data-tab="company_reg">기업회원</li>
                </ul>

                <div id="user_reg" class="tab-content current">
                    <p id="noti">* 필수 입력 정보입니다.</p>
                    <form action="user_regist" method="post">
                        <ul id="user-regForm-ul">
                            <li><input type="text" name="uname" placeholder=" 이름(실명)*"></li>
                            <li>
                                <input type="text" name="uid" placeholder=" 아이디*" id="uid">
                                <input type="button" name="dup-check" value="중복체크" onclick="loadDoc1()">
                            </li>
                            <li id="uid-msg"></li>
                            <div class="failure-message hide msgText">아이디는 4~12글자이어야 합니다</div>
                            <div class="failure-message2 hide msgText">영어 또는 숫자만 가능합니다</div>

                            <li><input type="password" name="upw" placeholder=" 비밀번호*" id="upw"></li>
                            <div class="strongPassword-message hide msgText">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</div>
                            <li><input type="password" name="upw2" placeholder=" 비밀번호확인*" id="upw2"></li>
                            <li id="upw-msg" class="msgText"></li>

                            <li>
                                <span class="reg_title">생년월일</span>&nbsp;&nbsp;
                                <input type="date" name="birthDate">
                            </li>
                            <li><span class="reg_title">성별</span>&nbsp;&nbsp;
                                <input type="radio" name="gender" value="0">&nbsp;남성&nbsp;&nbsp;
                                <input type="radio" name="gender" value="1">&nbsp;여성
                            </li>
                            <li><input type="text" name="email" placeholder=" 이메일*"></li>
                            <li><input type="text" name="tel" placeholder=" 전화번호*"></li>
                            <li><input type="text" name="uaddr" placeholder=" 현 거주지"></li>
                            <li><span class="reg_title">프로필 사진</span>&nbsp;&nbsp;
                                <input type="file" name="photo">
                            </li>
                        </ul>
                        <br>
                        <ul id="agreement">
                            <li>
                                필수 동의 항목 및 개인정보 수집 및 이용 동의(선택),
                                <br>광고성 정보 수신 동의(선택)에 모두 동의합니다.
                                <input type="checkbox" name="selectall" value="selectall" onclick="selectAll(this)" />
                            </li>
                            <br>
                            <li>
                                [필수] 이용약관 동의 <input type="checkbox" name="chk" onclick="checkSelectAll()">
                            </li>
                            <li>
                                [필수] 개인정보 수집 및 이용 동의 <input type="checkbox" name="chk" onclick="checkSelectAll()">
                            </li>
                            <li>
                                [필수] 만 15세 이상입니다 <input type="checkbox" name="chk" onclick="checkSelectAll()">
                            </li>
                            <li>
                                [선택] 개인정보 수집 및 이용 동의 <input type="checkbox" name="chk" onclick="checkSelectAll()">
                            </li>
                            <li>
                                [선택] 광고성 정보 이메일 수신 동의 <input type="checkbox" name="chk" onclick="checkSelectAll()">
                            </li>
                        </ul>
                        <input type="submit" value="가입하기">
                    </form>
                </div>

                <div id="company_reg" class="tab-content">
                    <p id="noti">* 필수 입력 정보입니다.</p>
                    <form action="com_regist" method="post">
                        <ul id="company-regForm-ul">
                            <li><input type="text" name="cname" placeholder=" 기업명*"></li>
                            <li>
                                <input type="text" name="cid" placeholder=" 아이디*" id="cid">
                                <input type="button" name="dup-check" value="중복체크" onclick="loadDoc2()">
                            </li>
                            <li id="cid-msg"></li>
                            <div class="failure-message-com hide msgText">아이디는 4~12글자이어야 합니다</div>
                            <div class="failure-message2-com hide msgText">영어 또는 숫자만 가능합니다</div>

                            <li><input type="password" name="cpw" placeholder=" 비밀번호*" id="cpw"></li>
                            <div class="strongPassword-message-com hide msgText">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</div>
                            <li><input type="password" name="cpw2" placeholder=" 비밀번호확인*" id="cpw2"></li>
                            <li id="cpw-msg" class="msgText"></li>

                            <li><input type="text" name="ceo" placeholder=" 대표자명*"></li>
                            <li><input type="text" name="cnum" placeholder=" 사업자번호*"></li>
                            <li><input type="text" name="caddr" placeholder=" 기업주소*"></li>
                            <li><input type="text" name="jobsCd" placeholder=" 업종코드*"></li>
                            <li><input type="text" name="employee" placeholder=" 사원수*"></li>
                            <li><input type="text" name="url" placeholder=" 회사홈페이지url*"></li>
                            <li><input type="text" name="size" placeholder=" 기업규모*"></li>
                            <li><input type="text" name="major" placeholder=" 주요사업*"></li>
                            <li><input type="text" name="yrSales" placeholder=" 연매출액"></li>
                            <li><span class="reg_title">로고이미지</span>&nbsp;&nbsp;
                                <input type="file" name="logo">
                            </li>
                        </ul>
                        <br>
                        <ul id="agreement">
                            <li>
                                필수 동의 항목 및 개인정보 수집 및 이용 동의(선택),
                                <br>광고성 정보 수신 동의(선택)에 모두 동의합니다.
                                <input type="checkbox" name="selectall2" value="selectall2"
                                    onclick="selectAll2(this)" />
                            </li>
                            <br>
                            <li>
                                [필수] 이용약관 동의 <input type="checkbox" name="chk2" onclick="checkSelectAll2()">
                            </li>
                            <li>
                                [필수] 개인정보 수집 및 이용 동의 <input type="checkbox" name="chk2" onclick="checkSelectAll2()">
                            </li>
                            <li>
                                [필수] 만 15세 이상입니다 <input type="checkbox" name="chk2" onclick="checkSelectAll2()">
                            </li>
                            <li>
                                [선택] 개인정보 수집 및 이용 동의 <input type="checkbox" name="chk2" onclick="checkSelectAll2()">
                            </li>
                            <li>
                                [선택] 광고성 정보 이메일 수신 동의 <input type="checkbox" name="chk2" onclick="checkSelectAll2()">
                            </li>
                        </ul>
                        <input type="submit" value="가입하기">
                    </form>
                </div>
            </div>

        </ul>
        <footer>
            <div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
        </footer>
    </div>
    </div>


    <script>
        // 1. USER

        const uid = document.getElementById("uid");
        let dupliCheck;
        let validId;
        let validPw;
        let samePw;
        let nullCheck = true;

        /////// 아이디
        // 중복검사
        function loadDoc1() {
            if (!validId) {
                alert("중복검사를 진행 할 수 없는 유효하지 않은 아이디 입니다. 다시 시도해주세요");
                return false;
            }
            const xhttp = new XMLHttpRequest();
            const uidCheck = uid.value;
            xhttp.onload = function () {
                document.getElementById("uid-msg").innerHTML = this.responseText;
                if (this.response == "중복된 아이디 입니다.") {
                    dupliCheck = false;
                } else {
                    dupliCheck = true;
                    return true;
                }
            }
            xhttp.open("GET", "uidCheck?uid=" + uidCheck, true);
            xhttp.send();
        }


        // 유효성 검사

        // 실패 메시지 정보 가져오기 (글자수 제한 4~12글자)
        let elFailureMessage = document.querySelector('.failure-message');
        // 실패 메시지2 정보 가져오기 (영어 또는 숫자)
        let elFailureMessageTwo = document.querySelector('.failure-message2');

        function idLength(value) {
            return value.length >= 4 && value.length <= 12
        }
        function onlyNumberAndEnglish(str) {
            return /^[A-Za-z0-9][A-Za-z0-9]*$/.test(str);
        }


        uid.onkeyup = function () {
            document.getElementById("uid-msg").innerHTML = "";
            // 값을 입력한 경우
            if (uid.value.length !== 0) {
                // 영어 또는 숫자 외의 값을 입력했을 경우
                if (onlyNumberAndEnglish(uid.value) === false) {
                    elFailureMessage.classList.add('hide');
                    elFailureMessageTwo.classList.remove('hide'); // 영어 또는 숫자만 가능합니다
                    dupliCheck = false;
                    validId = false;
                }
                // 글자 수가 4~12글자가 아닐 경우
                else if (idLength(uid.value) === false) {
                    elFailureMessage.classList.remove('hide'); // 아이디는 4~12글자이어야 합니다
                    elFailureMessageTwo.classList.add('hide'); // 실패 메시지2가 가려져야 함
                    dupliCheck = false;
                    validId = false;
                }
                // 조건을 모두 만족할 경우
                else if (idLength(uid.value) || onlyNumberAndEnglish(uid.value)) {
                    elFailureMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
                    elFailureMessageTwo.classList.add('hide'); // 실패 메시지2가 가려져야 함
                    dupliCheck = false;
                    validId = true;
                }
            }
            // 값을 입력하지 않은 경우 (지웠을 때)
            // 모든 메시지를 가린다.
            else {
                elFailureMessage.classList.add('hide');
                elFailureMessageTwo.classList.add('hide');
                dupliCheck = false;
                validId = false;
            }
        }


        function checkCondition() {
            const uname = document.querySelector('input[name="uname"]').value;
            const birthDate = document.querySelector('input[name="birthDate"]').value;
            const gender = document.querySelector('input[name="gender"]:checked');
            const email = document.querySelector('input[name="email"]').value;
            const tel = document.querySelector('input[name="tel"]').value;
            if (!uname || !birthDate || !gender || !email || !tel) {
                nullCheck = false;
            }

            if (validId && dupliCheck && nullCheck && validPw && samePw) {
                return true;
            } else {
                if (!validId) {
                    alert("유효한 아이디가 아닙니다. 다시 입력해주세요");
                } else if (!dupliCheck) {
                    alert("회원가입을 하려면 아이디 중복검사가 필수입니다. 아이디 중복검사를 진행해주세요")
                } else if (!nullCheck) {
                    alert("필수입력값은 비어있을 수 없습니다. 다시 입력해주세요")
                } else if (!validPw) {
                    alert("유효한 비밀번호가 아닙니다. 다시 입력해주세요");
                } else if (!samePw) {
                    alert("비밀번호가 같지 않습니다. 다시 입력해주세요");
                }
                return false;
            }
        }


        /////// 비밀번호
        // 유효성검사
        // 중복 검사
        const upw = document.getElementById("upw");
        const upw2 = document.getElementById("upw2");

        upw2.addEventListener('input', function () {
            const upwInput = upw.value;
            const upw2Input = upw2.value;

            if (upwInput === upw2Input) {
                document.getElementById("upw-msg").innerText = "비밀번호 입력이 완료되었습니다."
                samePw = true;

            } else {
                document.getElementById("upw-msg").innerText = "비밀번호가 같지 않습니다."

                samePw = false;
            }
        });



        // 실패 메시지 정보 가져오기 (8글자 이상, 영문, 숫자, 특수문자 미사용)
        let elStrongPasswordMessage = document.querySelector('.strongPassword-message');


        function strongPassword(str) {
            return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(str);
        }

        upw.onkeyup = function () {
            // 값을 입력한 경우
            if (upw.value.length !== 0) {
                if (strongPassword(upw.value)) {
                    elStrongPasswordMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
                    validPw = true;

                }
                else {
                    elStrongPasswordMessage.classList.remove('hide'); // 실패 메시지가 보여야 함
                    validPw = false;
                }
            }
            // 값을 입력하지 않은 경우 (지웠을 때)
            // 모든 메시지를 가린다.
            else {
                elStrongPasswordMessage.classList.add('hide');
                validPw = false;
            }
        };

        //checkbox 전체선택 및 전체해제 구현
        function checkSelectAll() {
            // 전체 체크박스
            const checkboxes = document.querySelectorAll('input[name="chk"]');
            // 선택된 체크박스
            const checked = document.querySelectorAll('input[name="chk"]:checked');
            // select all 체크박스
            const selectAll = document.querySelector('input[name="selectall"]');

            selectAll.checked = checkboxes.length === checked.length;
        }

        function selectAll(selectAll) {
            const checkboxes = document.querySelectorAll('input[name="chk"]');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked;
            });
        }

        //2.  COMPANY
        /////// 아이디
        /// 중복검사
        const cid = document.getElementById("cid");
        function loadDoc2() {
            const xhttp = new XMLHttpRequest();
            const cidCheck = cid.value;
            console.log(cidCheck);
            xhttp.onload = function () {
                console.log(this.responseText);
                document.getElementById("cid-msg").innerHTML = this.responseText;
                if (this.response == "중복된 아이디 입니다.") {
                    dupliCheck = false;
                } else {
                    dupliCheck = true;
                    return true;
                }
            }
            xhttp.open("GET", "cidCheck?cid=" + cidCheck, true);
            xhttp.send();
        }

        /// 유효성 검사
        let elFailureMessageC = document.querySelector('.failure-message-com');
        // 실패 메시지2 정보 가져오기 (영어 또는 숫자)
        let elFailureMessageTwoC = document.querySelector('.failure-message2-com');
        cid.onkeyup = function () {
            // 값을 입력한 경우
            if (cid.value.length !== 0) {
                // 영어 또는 숫자 외의 값을 입력했을 경우
                if (onlyNumberAndEnglish(cid.value) === false) {
                    elFailureMessageC.classList.add('hide');
                    elFailureMessageTwoC.classList.remove('hide');
                    dupliCheck = false;
                    validId = false;
                }
                // 글자 수가 4~12글자가 아닐 경우
                else if (idLength(cid.value) === false) {
                    elFailureMessageC.classList.remove('hide');
                    elFailureMessageTwoC.classList.add('hide');
                    dupliCheck = false;
                    validId = false;
                }
                // 조건을 모두 만족할 경우
                else if (idLength(cid.value) || onlyNumberAndEnglish(cid.value)) {
                    elFailureMessageC.classList.add('hide');
                    elFailureMessageTwoC.classList.add('hide');
                    dupliCheck = false;
                    validId = true;
                }
            }
            // 값을 입력하지 않은 경우 (지웠을 때)
            // 모든 메시지를 가린다.
            else {
                elFailureMessageC.classList.add('hide');
                elFailureMessageTwoC.classList.add('hide');
                dupliCheck = false;
                validId = false;
            }

        }


        /////// 비밀번호
        // 유효성검사
        // 중복 검사
        const cpw = document.getElementById("cpw");
        const cpw2 = document.getElementById("cpw2");

        cpw2.addEventListener('input', function () {
            const cpwInput = cpw.value;
            const cpw2Input = cpw2.value;

            if (cpwInput === cpw2Input) {
                document.getElementById("cpw-msg").innerText = "비밀번호 입력이 완료되었습니다."
                samePw = true;
            } else {
                document.getElementById("cpw-msg").innerText = "비밀번호가 같지 않습니다."
                samePw = false;
            }
        });

        let elStrongPasswordMessageC = document.querySelector('.strongPassword-message-com');
        cpw.onkeyup = function () {
            console.log(cpw.value);

            if (cpw.value.length !== 0) {
                if (strongPassword(cpw.value)) {
                    elStrongPasswordMessageC.classList.add('hide');
                    validPw = true;
                }
                else {
                    elStrongPasswordMessageC.classList.remove('hide');
                    validPw = false;
                }
            }

            else {
                elStrongPasswordMessageC.classList.add('hide');
                validPw = false;
            }
        };

        //checkbox 전체선택 및 전체해제 구현2
        function checkSelectAll2() {
            // 전체 체크박스
            const checkboxes2 = document.querySelectorAll('input[name="chk2"]');
            // 선택된 체크박스
            const checked2 = document.querySelectorAll('input[name="chk2"]:checked');
            // select all 체크박스
            const selectAll2 = document.querySelector('input[name="selectall2"]');

            selectAll2.checked = checkboxes2.length === checked2.length;
        }

        function selectAll2(selectAll2) {
            const checkboxes2 = document.querySelectorAll('input[name="chk2"]');
            checkboxes2.forEach((checkbox) => {
                checkbox.checked = selectAll2.checked;
            });
        }
    </script>

    <script th:inline="javascript">

        const tabs = document.querySelectorAll(".tab-link");
        const contents = document.querySelectorAll(".tab-content")

        tabs.forEach(tab => {
            tab.addEventListener("click", function (e) {
                const id = e.target.getAttribute("data-tab")
                tabs.forEach(t => { t.classList.remove("current") })
                contents.forEach(content => { content.classList.remove("current") })
                tab.classList.add("current");
                document.querySelector("#" + id).classList.add("current")

            })
        })

    </script>
</body>

</html>