<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
*{
	list-style:none;
}
body{
	margin-top: 100px;
	line-height: 1.6
}
.container{
	width: 1200px;
	margin: 0 auto;
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display:flex;
}
.tab-content .topCateogory{
	display: flex;
	flex-wrap: wrap;
	width: 300px; /* 너비 조절 */ 
    max-height: 150px; /* 최대 높이 설정 */
    overflow-y: auto; /* 수직 스크롤바 추가 */ 
    padding: 10px; /* 패딩 추가 */ 
 } 
.topCateogory li{
	margin: 10px; /* 아이템 간 간격 */
} 
.tab-content .category{
	display: flex; 
	flex-wrap: wrap; 
	width: 800px; /* 너비 조절 */ 
    max-height: 150px; /* 최대 높이 설정 */ 
    overflow-y: auto; /* 수직 스크롤바 추가 */ 
    padding: 10px; /* 패딩 추가 */ 
 } 
/*  .gu li{ */
/* 		margin-right: 15px; /* 아이템 간 간격 */ */
/*              color: black; /* 글자색 설정 */  */
/*  } */
#regionFilter, #sectorFilter, #jobFilter {
	display:flex;
} 
.tab-content .category li{
	margin-right:15px;
}
</style>
</head>
<body>
<header>
	<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
</header>
<main>
	<div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
	<div>
		<div class="container">
		<ul class="tabs">
			<li id="regionTab" class="tab-link current" data-tab="regionFilter" >지역별</li>
			<li id="sectorTab" class="tab-link" data-tab="sectorFilter">업종별</li>
			<li id="jobTab" class="tab-link" data-tab="jobFilter">직무별</li>
		</ul>
		<div id="regionFilter" class="tab-content current">
			<div>
				<ul class="topCateogory city">
				</ul>
			</div>
			<div>
				<ul class="category gu">
				</ul>
			</div>
		</div>
		<div id="sectorFilter" class="tab-content">
			<div>
				<ul class="topCateogory sectorCategory">
				</ul>
			</div>
			<div>
				<ul class="category sector">
				</ul>
			</div>
		</div>
		<div id="jobFilter" class="tab-content">
			<div>
				<ul class="topCateogory jobCategory">
				</ul>
			</div>
			<div>
				<ul class="category position">
				</ul>
			</div>
		</div>
	</div>
	<button onclick="searchList()">검색</button>
	
	<div class="jobad">
		<div th:each="jobad : ${jobadList}">
			<h1 th:text="${jobad.company.cname}"></h1>
			<span>❤️</span>
			공고제목 : <span><a th:href="@{/user/user_recruitDetail(jno=${jobad.jno})}">[[${jobad.wantedTitle}]]</a></span>
			마감 날짜 : <span th:text="${jobad.receiptCloseDt}"></span>
			<span>⭐</span>
		</div>
	</div>
	
	
	
    </div>
</main>
	<footer>
		<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
	</footer>





<script>

const tabs = document.querySelectorAll(".tab-link");
const regionTab = document.querySelector("#regionTab");
const sectorTab = document.querySelector("#sectorTab");
const jobTab = document.querySelector("#jobTab");
const regionFilter = document.querySelector("#regionFilter");
const sectorFilter = document.querySelector("#sectorFilter");
const jobFilter = document.querySelector("#jobFilter");
const contents = document.querySelectorAll(".tab-content")
const cityEl = document.querySelector(".city");
const guContainer = document.querySelector(".gu");

const sectorCateEl = document.querySelector(".sectorCategory");
const sectorEl = document.querySelector(".sector");
const jobCateEl = document.querySelector(".jobCategory");
const positionEl = document.querySelector(".position");
let region1Name;
let region2Name;
let sector1Name;
let sector2Name;
let position1Name;
let position2Name;
let guEls;
let sectorEls;
let positionEls;

// tabs.forEach(tab=>{
// 	tab.addEventListener("click", function(e){
// 		const id = e.target.getAttribute("data-tab")
// 		tabs.forEach(t=>{t.classList.remove("current")})
// 		contents.forEach(content=>{content.classList.remove("current")})
// 		tab.classList.add("current");
// 		document.querySelector("#"+id).classList.add("current")
// 	})
// })


document.addEventListener("DOMContentLoaded", function() {
    loadRegionList();
    loadSectorList();
    loadJobList();
});

//지역리스트
function loadRegionList() {
    fetch('http://localhost:8093/json/korea-administrative-district.json')
        .then(response => response.json())
        .then(data => {
            let i = 0;
            while (i < data.data.length) {
                // 기본 도시 리스트 뿌려주기
                const city = Object.keys(data.data[i]);
                cityEl.innerHTML += "<li class='city' id='city" + i + "'>" + city + "</li>";
                i++;
            }
            // 도시 이름 클릭 시 도시 내 세부 행정구역 뿌려주기
            const cities = document.querySelectorAll(".city");
            cities.forEach(city => {
                city.addEventListener("click", function(e) {
                    // 다른 도시 클릭 시마다 구 정보 칸 비워주기
                    guContainer.innerHTML = "";
                    const cname = e.target.innerText;
                    const ccode = Number(e.target.id.slice(4));
                    const gu = Object.values(data.data[ccode])[0];
					region1Name = e.target.innerText;
                    let j = 0;
                    while (j < gu.length) {
                        const guName = gu[j];
                        guContainer.innerHTML += "<li class='guEl' id='gu" + j + "'>" + guName + "</li>";
                        j++;
                    }
                    // 모든 구 버튼에 클릭 이벤트 달기
                    const guEls = document.querySelectorAll(".guEl");
                    guEls.forEach(guEl => {
                        guEl.addEventListener("click", function(e) {
                            region2Name = e.target.innerText;
                            // 구가 클릭되는 순간 탭이 업종으로 넘어가게
                            if (e.target.classList.contains("guEl")) {
                                // region 탭과 content 비활성화
                                regionTab.classList.remove("current");
                                regionFilter.classList.remove("current");
                                // sector 탭과 content 활성화
                                sectorTab.classList.add("current");
                                sectorFilter.classList.add("current");
                            }
                        });
                    });
                });
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}
//업종리스트
function loadSectorList() {
    fetch('http://localhost:8093/json/sector_category.json')
        .then(response => response.json())
        .then(data => {
            let i = 0;
            // 업종 상위 카테고리 뿌려주기
            while (i < data.length) {
                const sectorCateCode = data[i].코드;
                const sectorCategory = data[i]["산업/업종명"];
                if (sectorCategory != null) {
                    sectorCateEl.innerHTML += "<li class='sectorCategory' id='sectorCategory" + sectorCateCode + "'>" + sectorCategory + "</li>";
                }
                i++;
            }
            // 상위 카테고리 클릭 시 해당 카테고리 내 상세 직무 카테고리 뿌려주기
            const sectorCategories = document.querySelectorAll(".sectorCategory");
            sectorCategories.forEach(sectorCate => {
                sectorCate.addEventListener("click", function(e) {
                    // 상위 카테고리 클릭 시 세부 직무 카테고리 칸 비워주기
                    sectorEl.innerHTML = "";
                    sector1Name = e.target.innerText;
                    fetch('http://localhost:8093/json/sector.json')
                        .then(response => response.json())
                        .then(data => {
                            let j = 0;
                            while (j < data.length) {
                                const sectorCode = data[j]["코드"];
                                const sectorTitle = data[j]["산업/업종명"];
                                if (Number(e.target.id.slice(14)) == data[j]["상위코드"]) {
                                    sectorEl.innerHTML += "<li class='sectorEl' id='sectorTitle" + sectorCode + "'>" + sectorTitle + "</li>";
                                }
                                j++;
                            }
                            const sectorEls = document.querySelectorAll(".sectorEl");
                            sectorEls.forEach(sectorEl => {
                                sectorEl.addEventListener("click", function(e) {
                                    console.log(e.target);
                                    sector2Name = e.target.innerText;
                                    // 섹터가 클릭되는 순간 탭이 직무로 넘어가게
                                    if (e.target.classList.contains("sectorEl")) {
                                        // sector 탭과 content 비활성화
                                        sectorTab.classList.remove("current");
                                        sectorFilter.classList.remove("current");
                                        // job 탭과 content 활성화
                                        jobTab.classList.add("current");
                                        jobFilter.classList.add("current");
                                    }
                                });
                            });
                        });
                });
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}


//직무리스트
 function loadJobList() {
    fetch('http://localhost:8093/json/job_category.json')
        .then(response => response.json())
        .then(data => {
            // 직무 상위 카테고리 뿌려주기
            data.forEach(item => {
                const cateCode = item.코드;
                const jobCategory = item.상위직무;
                if (jobCategory != null) {
                    jobCateEl.innerHTML += `<li class="jobCategory" id="jobCategory${cateCode}">${jobCategory}</li>`;
                }
            });
            // 상위 카테고리 클릭 시 해당 카테고리 내 상세 직무 카테고리 뿌려주기
            const jobCategories = document.querySelectorAll(".jobCategory");
            jobCategories.forEach(jobCate => {
                jobCate.addEventListener("click", function(e) {
                    // 상위 카테고리 클릭 시 세부 직무 카테고리 칸 비워주기
                    positionEl.innerHTML = "";
                    position1Name = e.target.innerText;
                    fetch('http://localhost:8093/json/job.json')
                        .then(response => response.json())
                        .then(data => {
                            data.forEach(item => {
                                const jobCode = item["직무 코드"];
                                const positionTitle = item["직무 키워드명"];
                                if (Number(e.target.id.slice(11)) === item["직무 상위 코드"]) {
                                    positionEl.innerHTML += `<li class="positionEl" id="positionTitle${jobCode}">${positionTitle}</li>`;
                                }
                            });

                            // 모든 포지션 버튼에 클릭 이벤트 달기
                            const positionEls = document.querySelectorAll(".positionEl");
                            positionEls.forEach(positionEl => {
                                positionEl.addEventListener("click", function(e) {
                                    console.log(e.target);
                                    position2Name = e.target.innerText;
                                });
                            });
                        })
                        .catch(error => {
                            console.error('Error fetching job data:', error);
                        });
                });
            });
        })
        .catch(error => {
            console.error('Error fetching job category data:', error);
        });
}

 function searchList(){
		//검색버튼 누르면 필터해서 리스트 받아와서 뿌리는 ajax콜
	 const params = new URLSearchParams();
	 	if (region1Name) params.append('region1Name', region1Name);
	    if (region2Name) params.append('region2Name', region2Name);
	    if (sector1Name) params.append('sector1Name', sector1Name);
	    if (sector2Name) params.append('sector2Name', sector2Name);
	    if (position1Name) params.append('position1Name', position1Name);
	    if (position2Name) params.append('position2Name', position2Name);

	    fetch(`/user/user_recruit_regionSearch?${params.toString()}`)
	        .then(response => response.json())
	        .then(data => {
	            console.log(data);
	            // 응답 데이터를 HTML에 업데이트하는 로직을 추가합니다.
	        })
	        .catch(error => {
	            console.error('Error:', error);
	        });
	}



</script>
</body>
</html>