<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/user_communityForm_insert.css">

</head>
<body>
	<div id="wrap">
		<header>
			<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
		</header>
		<main>
			<div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
				<div>
					<div class="container">
					<div class="alertTab">
						<span>📢 [공지사항]  </span>
						<a th:text="${latestAlertBoard.title}" th:href="@{/user/user_community_detail(ubno=${latestAlertBoard.ubno})}"></a>
					</div>
						<form class="form-container" action="/user/user_board_regist" method="post">
							<fieldset class="typeContainer">
							  	<span>게시판 타입 선택</span>
							    <input type="radio" name="type" value="1"  />
							    <label for="type">구직자</label>
							    <input type="radio" name="type" value="2" />
							    <label for="type">재직자</label>
							    <input type="radio" name="type" value="3" checked />
							    <label for="type">전체</label>
							</fieldset>
							<div class="form">
								<input type="text" placeholder="제목을 입력해주세요" name="title"> <br>
								<textarea placeholder="내용을 입력해주세요" name="content"></textarea> <br>
								<input id="submitBtn" type="submit" value="등록">
							</div>
						</form>
					</div>
				</div>
		</main>
	</div>
	<footer>
		<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
	</footer>


<script>

const tabs = document.querySelectorAll(".tab-link");
const contents = document.querySelectorAll(".tab-content")


tabs.forEach(tab=>{
	tab.addEventListener("click", function(e){
		const id = e.target.getAttribute("data-tab")
		tabs.forEach(t=>{t.classList.remove("current")})
		contents.forEach(content=>{content.classList.remove("current")})
		tab.classList.add("current");
		document.querySelector("#"+id).classList.add("current")
	})
})










</script>
</body>
</html>