<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/userInfoStyle.css">
</head>

<body>
    <div id="wrap">
        <header>
            <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
        </header>
        <div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
        <main>
            <div>
                <div id="title_wrap">
                    <div class="title1">마이페이지</div>
                    <div class="title2">회원정보 수정</div>
                </div>
                <form action="user_edit" method="post" enctype="multipart/form-data">
                    <ul id="edit">
                        <li><img th:src="@{|/images/user/${user.fileName}|}" alt="" /></li>
                        <li style="display:none;"><a th:href="@{|/images/${user.fileName}|}">[[${user.fileName}]]</a>
                        </li>
                        <li id="photo">
                            <input type="file" name="photo">
                        </li>
                        <li id="uname">
                            이름 <input type="text" name="uname" th:value="${user.uname}">
                        </li>
                        <li id="gender">
                            성별 <input type="text" name="gender" th:value="${user.gender}" disabled>
                        </li>
                        <li id="birthDate">
                            생년월일 <input type="text" name="birthDate" th:value="${user.birthDate}" disabled>
                        </li>
                        <li id="uid">
                            아이디 <input type="text" name="uid" th:value="${user.uid}" disabled>
                        </li>
                        <li id="upw_wrap">
                            비밀번호 <input type="password" name="upw" placeholder="비밀번호*" id="upw">
                        </li>
                        <li id="upw2_wrap">
                            비밀번호 확인 <input type="password" name="upw2" placeholder="비밀번호확인*" id="upw2">
                        </li>
                        <li id="uaddr">
                            주소 <input type="text" name="uaddr" th:value="${user.uaddr}" style="width: 200px;">
                        </li>
                        <li id="tel">
                            전화번호 <input type="text" name="tel" th:value="${user.tel}" style="width: 200px;">
                        </li>
                        <li id="email">
                            이메일 <input type="text" name="email" th:value="${user.email}" style="width: 200px;">
                        </li>
                        <li id="submit"><input type="submit" value="수정하기"></li>
                    </ul>
                </form>
            </div>
        </main>
        <footer>
            <div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
        </footer>
    </div>
</body>

</html>