<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
    <div>마이페이지</div>
    <div>이력서 등록</div>
    <div class="notice">
        <ul>
            <li>
                <img src="../../../images/reg.png" width="50" height="50">
            </li>
            <li>
                <em class="em1">[필수]</em> 표시가 붙은 항목은 <em class="em2">필수입력</em>항목이니 반드시 기입해 주세요.
            </li>
            <li>
                개인정보 보호를 위해 일정시간(약 1시간) 후 ‘자동로그아웃’ 될 수 있으니, ‘이력서 저장’ 버튼을 수시로 클릭하여 기입하신 정보를 저장하시기 바랍니다.
            </li>
            <li>
                구직신청 후에는 기본으로 설정한 이력서와 자기소개서만 인재정보 검색서비스를 통해 구인업체에 공개됩니다.
            </li>
            <li>
                기본으로 설정된 이력서와 자기소개서는 [미리보기] 기능을 통해 한 화면에서 조회·인쇄·파일로 저장할 수 있습니다.
            </li>
        </ul>
    </div>
    
    <form method="post" action="user_resume">
        
        <div>이력서 제목 <input type="text" name="rtitle" placeholder="나를 가장 잘 소개할 수 있는 이력서 제목을 입력하세요 :)"></div>
        <div>
            <input type="button" value="회원정보수정하기" onclick="location.href='/user/user_information'">
        </div>
        <hr>
        <table>
            <colgroup>
                <col style="width: 110px;">
                <col>
                <col style="width: 110px;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">이름</th>
                    <td><span th:text="${user.uname}"></span></td>
                    <th scope="row">성별, 출생년도</th>
                    <td>
                        <span>
                            <span th:switch="${user.gender}">
                                <span th:case="'0'">남자</span>
                                <span th:case="'1'">여자</span>
                            </span>
                            , <span th:text="${user.birthDate}"></span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <th >주소</th>
                <th >전화번호</th>
                <th >이메일</th>
            </thead>
            <tbody>
                <td ><span th:text="${user.uaddr}"></span></td>
                <td ><span th:text="${user.tel}"></span></td>
                <td ><span th:text="${user.email}"></span></td>
            </tbody>
        </table>
        <hr>
        학력사항
        <input type="button" value="+ 항목추가" id="addRowButton">
        <hr>
        <table>
            <thead>
                <tr>
                    <th>학교명</th>
                    <th>기간</th>
                    <th>전공학과</th>
                    <th>학점<em class="em1">[필수]</em></th>
                    <th>상태</th>
                    <th>등록</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody id="educationTableBody">
                <tr>
                    <td>
                        <select class="gradeList_0" name="eduName" title="학력 선택">
                            <option value selected="selected">학력 선택</option>
                            <option value="0">무학</option>
                            <option value="1">초등학교</option>
                            <option value="2">중학교</option>
                            <option value="3">고등학교</option>
                            <option value="4">대학교(2/3년제)</option>
                            <option value="5">대학교(4년제)</option>
                            <option value="6">대학원(석사)</option>
                            <option value="7">대학원(박사)</option>
                        </select>
                    </td>
                    <td>
                        <input type="date" name="accDate" id="accDate" title="입학일자" placeholder="yyyy.mm.dd" maxlength="10">
                    <!--    <button type="button" id="accDateBtn">입학일자 버튼</button> -->
                        <span>~</span>
                        <input type="date" name="gradDate" id="gradDate" title="졸업일자" placeholder="yyyy.mm.dd" maxlength="10">
                    <!--    <button type="button" id="gradDateBtn">졸업일자 버튼</button> -->
                    </td>
                    <td><input type="text" name="major"></td>
                    <td><input type="text" name="score"></td>
                    <td>
                        <select class="gradEndList" name="sstatus" title="선택">
                            <option value selected="selected">선택</option>
                            <option value="0">휴학</option>
                            <option value="1">재학</option>
                            <option value="2">중퇴</option>
                            <option value="3">졸업</option>
                            <option value="4">졸업예정</option>
                            <option value="5">검정(독학)</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="regRowButton">등록</button>
                    </td>
                    <td>
                        <button type="button" class="deleteRowButton">삭제</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        경력사항
        <input type="button" value="+ 항목추가" id="addRowButton2">
        <hr>
        <table>
            <thead>
                <tr>
                    <th>회사명</th>
                    <th>기간<em class="em1">[필수]</em></th>
                    <th>직급<em class="em1">[필수]</em></th>
                    <th>직책<em class="em1">[필수]</em></th>
                    <th>상태</th>
                    <th>등록</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody id="careerTableBody">
                <tr>
                    <td>
                        <input type="text" name="cName">
                    </td>
                    <td>
                        <input type="date" name="startDate" id="startDate" title="입사일자" placeholder="yyyy.mm.dd" maxlength="10">
                        <span>~</span>
                        <input type="date" name="endDate" id="endDate" title="퇴사일자" placeholder="yyyy.mm.dd" maxlength="10">
                    </td>
                    <td>
                        <input type="text" name="rank" id="rank">
                    </td>
                    <td>
                        <input type="text" name="position" id="position">
                    </td>
                    <td>
                        <select class="careerList" name="status" title="상태선택">
                            <option value selected="selected">상태선택</option>
                            <option value="0">퇴직</option>
                            <option value="1">재직</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="regRowButton2">등록</button>
                    </td>
                    <td>
                        <button type="button" class="deleteRowButton2">삭제</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
                <tr>
                    <th>직종</th>
                        <td>
                            <input type="text" >업종
                            <div>* '직종' 정보는 더 적합한 일자리 추천을 위한 분석 용도로만 사용되며, 기업회원에게 공개되지 않습니다.</div>
                        </td>
                    <th>주요직무 및 업무</th>
                        <td>
                            <input type="text" placeholder="내용을 입력해주세요.">
                        </td>
                </tr>
        </table> 
        <hr>
        사회 활동
        <input type="button" value="+ 항목추가" id="addRowButton3">
        <hr>
        <table>
            <thead>
                <tr>
                    <th>
                        기관
                    </th>
                    <th>
                        기간<em class="em1">[필수]</em>
                    </th>
                    <th>
                        활동 내역<em class="em1">[필수]</em>
                    </th>
                    <th>
                        삭제
                    </th>
                </tr>
            </thead>
            <tbody id="experienceTableBody">
                <td>
                    <input type="text" name="org" id="org">
                </td>
                <td>
                    <input type="date" name="startDay" id="startDay" title="시작일자" placeholder="yyyy.mm.dd" maxlength="10">
                    <span>~</span>
                    <input type="date" name="endDay" id="endDay" title="종료일자" placeholder="yyyy.mm.dd" maxlength="10">
                </td>
                <td>
                    <input type="text" placeholder="내용을 입력해주세요.">
                </td>
                <td>
                    <button type="button" class="deleteRowButton3">삭제</button>
                </td>
            </tbody>
        </table>
        <hr>
        보유자격 및 면허
        <input type="button" value="+ 항목추가" id="addRowButton4">
        <hr>
        <table>
            <thead>
                <tr>
                    <th>
                        구분
                    </th>
                    <th>
                        자격면허<em class="em1">[필수]</em>
                    </th>
                    <th>
                        발급기관<em class="em1">[필수]</em>
                    </th>
                    <th>
                        취득일
                    </th>
                    <th>
                        삭제
                    </th>
                </tr>
            </thead>
            <tbody id="licenseTableBody">
                <td>
                    <select class="licenseList" name="type" title="구분">
                        <option value selected="selected">구분</option>
                        <option value="0">국가공인</option>
                        <option value="1">민간공인</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="lname">
                </td>
                <td>
                    <input type="text" name="org">
                </td>
                <td>
                    <input type="date" name="getDate" id="getDate" title="취득일" placeholder="yyyy.mm.dd" maxlength="10">
                </td>
                <td>
                    <button type="button" class="deleteRowButton4">삭제</button>
                </td>
            </tbody>
        </table>
        <hr>
        보유 스킬
        <hr>
        <input type="text" placeholder="내용을 입력해주세요.">
        <hr>
        희망 직종
        <hr>
        <ul>
            <li>
                희망근무지역
                <input type="text" name="region1" placeholder="희망근무지역1">
                <input type="text" name="region2" placeholder="희망근무지역2">
                <input type="text" name="region3" placeholder="희망근무지역3">
            </li>
            <li>
                관심업종
                <input type="text" name="sectors">    
            </li>
            <li>
                관심직무
                <input type="text" name="job">
            </li>
        </ul>
        <hr>
        자기소개서
        <input type="button" value="+ 항목추가" id="addRowButton5">
        <hr>
        <table>
            <tbody id="selfInfoTableBody">
                <td>
                    <input type="text" name="title" placeholder="항목명을 입력해주세요.">
                    <button type="button" class="deleteRowButton5">삭제</button>
                    <hr>
                    <input type="text" name="scontent" placeholder="내용을 입력해주세요.">
                </td>
            </tbody>
        </table>
        
        <div>
            <label for="openResume">이력서 공개 여부</label>
            <input type="checkbox" id="openResume" name="openResume">
        </div>
        <hr>
        <input type="hidden" name="disclo" id="disclo" value="0">

        <input type="submit" value="이력서 저장">
    </form>
</div>
<script>
    document.getElementById('addRowButton').addEventListener('click', function() {
        var tbody = document.getElementById('educationTableBody');
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td>
                <select class="gradeList_0" name="eduName" title="학력 선택">
                    <option value selected="selected">학력 선택</option>
                    <option value="0">무학</option>
                    <option value="1">초등학교</option>
                    <option value="2">중학교</option>
                    <option value="3">고등학교</option>
                    <option value="4">대학교(2/3년제)</option>
                    <option value="5">대학교(4년제)</option>
                    <option value="6">대학원(석사)</option>
                    <option value="7">대학원(박사)</option>
                </select>
            </td>
            <td>
                <input type="date" name="accDate" title="입학일자" placeholder="yyyy.mm.dd" maxlength="10">
                <span>~</span>
                <input type="date" name="gradDate" title="졸업일자" placeholder="yyyy.mm.dd" maxlength="10">
            </td>
            <td><input type="text" name="major"></td>
            <td><input type="text" name="score"></td>
            <td>
                <select class="gradEndList" name="sstatus" title="선택">
                    <option value selected="selected">선택</option>
                    <option value="0">휴학</option>
                    <option value="1">재학</option>
                    <option value="2">중퇴</option>
                    <option value="3">졸업</option>
                    <option value="4">졸업예정</option>
                    <option value="5">검정(독학)</option>
                </select>
            </td>
            <td><button type="button" class="deleteRowButton">삭제</button></td>
        `;
        tbody.appendChild(newRow);

        // 새로운 삭제 버튼에 이벤트 리스너 추가
        newRow.querySelector('.deleteRowButton').addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                newRow.remove();
            }
        });
    });

    // 기존의 삭제 버튼에 이벤트 리스너 추가
    document.querySelectorAll('.deleteRowButton').forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                button.closest('tr').remove();
            }
        });
    });

    document.getElementById('addRowButton2').addEventListener('click', function() {
        var tbody = document.getElementById('careerTableBody');
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td>
                <input type="text" name="cName">
            </td>
            <td>
                <input type="date" name="startDate" id="startDate" title="입사일자" placeholder="yyyy.mm.dd" maxlength="10">
                <span>~</span>
                <input type="date" name="endDate" id="endDate" title="퇴사일자" placeholder="yyyy.mm.dd" maxlength="10">
            </td>
            <td>
                <input type="text" name="rank" id="rank">
            </td>
            <td>
                <input type="text" name="position" id="position">
            </td>
            <td>
                <select class="careerList" name="status" title="상태선택">
                    <option value selected="selected">상태선택</option>
                    <option value="0">퇴직</option>
                    <option value="1">재직</option>
                </select>
            </td>
            <td>
                <button type="button" class="deleteRowButton2">삭제</button>
            </td>
        `;
        tbody.appendChild(newRow);

        // 새로운 삭제 버튼에 이벤트 리스너 추가
        newRow.querySelector('.deleteRowButton2').addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                newRow.remove();
            }
        });
    });

    // 기존의 삭제 버튼에 이벤트 리스너 추가
    document.querySelectorAll('.deleteRowButton2').forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                button.closest('tr').remove();
            }
        });
    });

    document.getElementById('addRowButton3').addEventListener('click', function() {
        var tbody = document.getElementById('experienceTableBody');
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td>
                <input type="text" name="org" id="org">
            </td>
            <td>
                <input type="date" name="startDay" id="startDay" title="시작일자" placeholder="yyyy.mm.dd" maxlength="10">
                <span>~</span>
                <input type="date" name="endDay" id="endDay" title="종료일자" placeholder="yyyy.mm.dd" maxlength="10">
            </td>
            <td>
                <input type="text" value="내용을 입력해주세요.">
            </td>
            <td>
                <button type="button" class="deleteRowButton3">삭제</button>
            </td>
        `;
        tbody.appendChild(newRow);

        // 새로운 삭제 버튼에 이벤트 리스너 추가
        newRow.querySelector('.deleteRowButton3').addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                newRow.remove();
            }
        });
    });

    // 기존의 삭제 버튼에 이벤트 리스너 추가
    document.querySelectorAll('.deleteRowButton3').forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                button.closest('tr').remove();
            }
        });
    });


    document.getElementById('addRowButton4').addEventListener('click', function() {
        var tbody = document.getElementById('licenseTableBody');
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
        <td>
                    <select class="licenseList" name="type" title="구분">
                        <option value selected="selected">구분</option>
                        <option value="0">국가공인</option>
                        <option value="1">민간공인</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="lname">
                </td>
                <td>
                    <input type="text" name="org">
                </td>
                <td>
                    <input type="date" name="getDate" id="getDate" title="취득일" placeholder="yyyy.mm.dd" maxlength="10">
                </td>
                <td>
                    <button type="button" class="deleteRowButton4">삭제</button>
                </td>
        `;
        tbody.appendChild(newRow);

        // 새로운 삭제 버튼에 이벤트 리스너 추가
        newRow.querySelector('.deleteRowButton4').addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                newRow.remove();
            }
        });
    });

    // 기존의 삭제 버튼에 이벤트 리스너 추가
    document.querySelectorAll('.deleteRowButton4').forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                button.closest('tr').remove();
            }
        });
    });

    document.querySelector('#openResume').addEventListener('click', function(event) {
        var openResumeCheckbox = document.getElementById('openResume');
        var discloInput = document.getElementById('disclo');
        if (openResumeCheckbox.checked) {
            discloInput.value = '1';
        
        } else {
            discloInput.value = '0';
        }
    });

    document.getElementById('addRowButton5').addEventListener('click', function() {
        var tbody = document.getElementById('selfInfoTableBody');
        var newRow = document.createElement('tr');
        newRow.innerHTML = `
                <td>
                    <input type="text" name="title" placeholder="항목명을 입력해주세요.">
                    <button type="button" class="deleteRowButton5">삭제</button>
                    <hr>
                    <input type="text" name="scontent" placeholder="내용을 입력해주세요.">
                </td>
        `;
        tbody.appendChild(newRow);

        // 새로운 삭제 버튼에 이벤트 리스너 추가
        newRow.querySelector('.deleteRowButton5').addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                newRow.remove();
            }
        });
    });

    // 기존의 삭제 버튼에 이벤트 리스너 추가
    document.querySelectorAll('.deleteRowButton5').forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                button.closest('tr').remove();
            }
        });
    });

    
    function checkRequiredFields() {
    // 필수 입력 필드 목록
    var requiredFields = [
        'region1',
        'sectors',
        'job',
        'rtitle',
        'disclo',
        'accDate',
        'gradDate',
        'eduName',
        'status',
        'title',
        'scontent'
    ];

    // 필수 입력 필드 중 하나라도 입력되지 않은 경우
    for (var i = 0; i < requiredFields.length; i++) {
        var field = document.getElementsByName(requiredFields[i])[0];
        if (!field || field.value.trim() === '') {
            return false;
        }
    }
    return true; // 모든 필수 입력 필드가 입력되었을 경우
}

// 제출 버튼 상태 업데이트 함수
function updateSubmitButtonState() {
    var submitButton = document.querySelector('input[type="submit"]');
    if (checkRequiredFields()) {
        submitButton.disabled = false; // 필수 입력 필드가 모두 입력되었을 경우 버튼 활성화
    } else {
        submitButton.disabled = true; // 필수 입력 필드 중 하나라도 입력되지 않았을 경우 버튼 비활성화
    }
}

// 페이지 로드 시 제출 버튼 상태 업데이트
updateSubmitButtonState();

// 필수 입력 필드 값이 변경될 때마다 제출 버튼 상태 업데이트
var requiredFields = document.querySelectorAll('[name="region1"], [name="sectors"], [name="job"], [name="rtitle"], [name="disclo"], [name="accDate"], [name="gradDate"], [name="eduName"], [name="status"], [name="title"], [name="scontent"]');
requiredFields.forEach(function(field) {
    field.addEventListener('input', updateSubmitButtonState);
});

</script>
</body>
</html>