<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/user_community_detail.css">
</head>
<body>
<div id="wrap">
<header>
	<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
</header>
<div th:include="~{/fragments/sidebar.html :: fragment-sidebar}"></div>
<main>
		<div>
			<div class="container">
					<div class="alertTab">
						<span>📢 [공지사항]  </span>
						<a th:text="${latestAlertBoard.title}" th:href="@{/user/user_community_detail(ubno=${latestAlertBoard.ubno})}"></a>
					</div>
			<table class="content_container">
				<tr> 
					<th id="title">[[${userBoard.title}]]</th>
				</tr>
				<tr class="detail_container"> 
					<td><span>[[${userBoard.regdate}]]</span><span>[[${userBoard.user.uname}]]</span> 
					<a th:if="${session.id == userBoard.user.uid}" th:href="@{/user/user_communityForm_edit(ubno=${userBoard.ubno})}">✏️수정하기</a>
					<a th:if="${session.id == userBoard.user.uid}" th:href="@{/user/user_communityForm_delete(ubno=${userBoard.ubno})}">❌삭제하기</a></td>
				</tr>
				<tr > 
					<td id="boardContent">[[${userBoard.content}]]</td>
				</tr>
			</table>
			<table class="reply_container">
				<tr>
					<input type="text" id="writer" placeholder="댓글 표시되는 작성자"><br> 
					<input type="text" id="myReply" placeholder="댓글을 작성해보세요">
					<input type="hidden" id="userId" th:value="${userBoard.user.uid}">
					<button onclick="addReply()">등록</button>
				</tr>
				<tr th:each="userReply,userReplyStat : ${userReplyList}"> 
					<th id="writer">[[${userReply.writer}]]</th>
					<td>[[${userReply.regdate}]]</td>
					<td>[[${userReply.content}]]</td>
					<td th:if="${userReply.writer == session.id}"><button >수정하기</button> <button id="deleteReplyBtn">삭제하기</button></td>
				</tr>
			</table>
		</div>
	
    </div>
</main>
	<footer>
		<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
	</footer>



<script th:inline="javascript">
var userBoardUbno = /*[[${userBoard.ubno}]]*/ '0';
var userId = document.getElementById("userId").value;
const deleteReplyBtn = document.querySelector("#deleteReplyBtn");

function addReply(){
	var writer = document.getElementById("writer").value;
	var content = document.getElementById("myReply").value;
    window.location.href = "/user/userReply_insert?ubno=" + userBoardUbno +"&uid=" + userId + "&writer=" + writer + "&content=" + content;
}


deleteReplyBtn.addEventListener("click", function(){
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {
	  if(this.responseText == "done"){
		  console.log("yaaay");
	  }
	  }
	xhttp.open("GET", "/user/user_delete_reply?replyno?"+ [[${userReply.replyno}]], true);
	xhttp.send();
})




</script>

</div>

</body>
</html>