<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="fragment-company_nav"><!-- top 였던 것 -->
		<div class="top">
		<nav class="navbar">
			<div id="logo" onclick="location.href='/company/cpmain'"><img src="../" alt=""></div>
			<ul class="left-menu">
				<li><a href="">공고*지원자관리</a></li>
				<li><a href="">회사정보관리</a></li>
				<li><a href="">인재관리</a></li>
				<li><a href="">인재검색</a></li>
			</ul>
			<ul class="right-menu" th:if="${session.id == null}">
				<li><a href="/user/login_form">로그인</a></li>
				<li><a>회원가입</a></li>
				<div id="serviceBox">유저서비스</div>
			</ul>
			<ul class="right-menu" th:if="${session.id != null}">
				<li><a href="">로그아웃</a></li>
				<li><a href="">마이페이지</a></li>
				<div id="serviceBox">유저서비스</div>
			</ul>
			
		</nav>
		</div>
	</div>
</body>
</html>