<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar</title>
</head>
<body>
    <div th:fragment="fragment-sidebar">
        <div id="sidebar">
            <ul>
            	<li class="sidebar_title">채용정보</li>
                <li><a href="/user/user_recruit_region">지역별</a></li>
                <li><a href="/user/user_recruit_job">직무별</a></li>
                <li><a href="/user/user_recruit_sector">업종별</a></li>
            </ul>
            <ul>
                <li class="sidebar_title"><a href="/user/user_communityList">커뮤니티</a></li>
            </ul>
            <ul>
                <li class="sidebar_title"><a href="">포지션매치</a></li>
            </ul>
            <ul>
                <li class="sidebar_title">
                    <a href="/user/user_myPage">마이페이지</a>
                </li>
                <li><a href="/user/user_information">회원정보 수정</a></li>
                <li><a href="">이력서 관리</a></li>
                <li><a href="/user/user_subNscrap_list">구독 및 스크랩</a></li>
                <li><a href="/user/user_apply_list">입사지원관리</a></li>
                <li><a href="/user/user_offer_list">받은제안 관리</a></li>
                <li><a href="/user/user_review_list">평점관리</a></li>
                <li><a href="/user/user_myBoard_list">커뮤니티 활동 관리</a></li>
            </ul>
        </div>
    </div>
</body>
</html>