<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar</title>
</head>
<body>
    <div th:fragment="fragment-sidebar">
        <div class="sidebar">
            <ul>
            	<li><h2>채용정보</h2></li>
                <li><a href="/user/user_recruit_region">지역별</a></li>
                <li><a href="/user/user_recruit_job">직무별</a></li>
                <li><a href="/user/user_recruit_sector">업종별</a></li>
                <li><a href=""><h2>커뮤니티</h2></a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">구직자</a></li>
                <li><a href="">재직자</a></li>
                <li><a href=""><h2>포지션매치</h2></a></li>
                <li><a href="/user/user_myPage"><h2>마이페이지</h2></a></li>
                <li><a href="/user/user_information">회원정보 수정</a></li>
                <li><a href="">이력서 관리</a></li>
                <li><a href="">희망근무조건</a></li>
                <li><a href="">구독 및 스크랩</a></li>
                <li><a href="">입사지원관리</a></li>
                <li><a href="">받은제안 관리</a></li>
                <li><a href="">최근 본 공고</a></li>
                <li><a href="">평점관리</a></li>
                <li><a href="">커뮤니티 활동 관리</a></li>
            </ul>
        </div>
    </div>
</body>
</html>