<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/com_nav.css">
	<link rel="stylesheet" type="text/css" href="/css/com_sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/com_companyInfo.css">
</head>
<body>
	<header>
		<div th:replace="~{/fragments/company_nav.html :: fragment-company_nav}"></div>
	</header>
	
	<div class="container">
		<div th:replace="~{/fragments/company_sidebar.html :: fragment-companySidebar}"></div>
		<div class="content">
				<div class="comInfo">
					
					<div class="infoTitle">
						<h3 th:text="${com.cname}"></h3>
						<button class="button" onclick="goModify()">수정하기</button>
					</div>
					
				
					<hr class="separator">
					
					<div class="detail">
						<div>
							<span>대표명</span>
							<div class="text" th:text="${com.ceo}"></div>
						</div>
						<div>
							<span>사업번호</span>
							<div class="text" th:text="${com.cnum}"></div>
						</div>
						<div>
							<span>사업장 주소</span>
							<div class="text" th:text="${com.caddr}"></div>
						</div>
						<div>
							<span>기업규모</span>
							<div class="text" th:text="${com.size}"></div>
						</div>
						<div>
							<span>연매출액</span>
							<div class="text" th:text="${com.yrSales}"></div>
						</div>
						<div>
							<span>업종</span>
							<div class="text" th:text="${com.sector}"></div>
						</div>
						<div>
							<span>주요사업</span>
							<div class="text" th:text="${com.major}"></div>
						</div>
						<div>
							<span>사원 수 </span>
							<div class="text" th:text="${com.employees}"></div>
						</div>
						
						
					</div><!-- detail end -->
				</div><!-- comInfo end -->
		</div>
	</div>
		
		
			
			<script th:inline="javascript">
				function goModify(){
					var cid = /*[[${com.cid}]]*/ 'defaultCID';
					window.location.href = '/company/com_infoMod?cid=' + cid;
				}
				
			</script>
</body>
</html>