<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>채용공고 수정</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: #333;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

form {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group input[type="text"], .form-group input[type="number"],
	.form-group input[type="date"], .form-group textarea, .form-group select
	{
	width: calc(100% - 22px);
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-group textarea {
	resize: vertical;
}

.form-group input[type="checkbox"] {
	width: auto;
}

.form-group select {
	height: 40px;
}

input[type="submit"] {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin: 20px auto;
}

input[type="submit"]:hover {
	background-color: #0056b3;
}
</style>
<body>
	<h1>채용공고 수정</h1>
	<hr>
	<form action="/company/com_modify" method="post"
		onsubmit="convertInputsToJson()">
		<input type="hidden" name="jno" th:value="${modify.jno}">
		<div class="form-group">
			<label for="wantedTitle">공고 제목</label> <input type="text"
				id="wantedTitle" name="wantedTitle" th:value="${modify.wantedTitle}">
		</div>
		<div class="form-group">
			<label for="position1">모집직무</label> <select id="position1"
				name="position1" onchange="updatePosition2Options()">
				<option value="">선택</option>
				<option th:each="jobCategory : ${jobCategories}"
					th:value="${jobCategory.상위직무}" th:text="${jobCategory.상위직무}"
					th:data-code="${jobCategory.코드}"
					th:selected="${modify.position1} == ${jobCategory.상위직무}"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="position2">상세모집직무</label> <select id="position2"
				name="position2">
				<option value="">선택</option>
			</select>
		</div>
		<div class="form-group">
			<label for="sector1">모집업종</label> <select id="sector1" name="sector1"
				onchange="updateSector2Options()">
				<option value="">선택</option>
				<option th:each="sectorCategory : ${sectorCategories}"
					th:value="${sectorCategory['산업/업종명']}"
					th:text="${sectorCategory['산업/업종명']}"
					th:data-code="${sectorCategory.코드}"
					th:selected="${modify.sector1 eq sectorCategory['산업/업종명']}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="sector2">상세모집업종</label> <select id="sector2"
				name="sector2" th:field="*{modify.sector2}">
				<option value="">선택</option>
				<option th:each="sector : ${allSectors}"
					th:value="${sector['산업/업종명']}" th:text="${sector['산업/업종명']}"
					th:selected="${modify.sector2 eq sector['산업/업종명']}"
					th:data-sector1-code="${sector['상위코드']}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="collectPsncnt">모집 인원</label> <input type="number"
				id="collectPsncnt" name="collectPsncnt"
				th:value="${modify.collectPsncnt}">
		</div>
		<div class="form-group">
			<label for="receiptCloseDt">접수마감일</label> <input type="date"
				id="receiptCloseDt" name="receiptCloseDt" required
				th:value="${modify.receiptCloseDt}">
		</div>
		<div class="form-group">
			<label for="region1">근무 지역</label> <select id="region1"
				name="region1" onchange="updateRegion2Options()">
				<option value="">선택</option>
				<option th:each="regionEntry : ${regions}"
					th:value="${regionEntry.key}" th:text="${regionEntry.key}"
					th:selected="${modify.region1 eq regionEntry.key}"></option>
			</select> <select id="region2" name="region2" th:field="*{modify.region2}">
				<option value="">선택</option>
				<option th:each="district : ${regions.get(modify.region1)}"
					th:value="${district}" th:text="${district}"
					th:selected="${modify.region2 eq district}"></option>
			</select>
		</div>
		<div class="form-group" id="jobContContainer">
			<label for="jobCont">직무내용</label>
			<button type="button"
				onclick="addInput('jobContContainer', 'jobContInput')">추가</button>
		</div>

		<div class="form-group">
			<label for="empTpNm">고용형태</label> <select id="empTpNm" name="empTpNm">
				<option value="정규직" th:selected="${modify.empTpNm} == '정규직'">정규직</option>
				<option value="비정규직" th:selected="${modify.empTpNm} == '비정규직'">비정규직</option>
				<option value="계약직" th:selected="${modify.empTpNm} == '계약직'">계약직</option>
				<option value="파견직" th:selected="${modify.empTpNm} == '파견직'">파견직</option>
			</select><br>
		</div>

		<div class="form-group">
			<label for="yofExperiences">경력제한</label> <select id="yofExperiences"
				name="yofExperiences">
				<option value="신입" th:selected="${modify.yofExperiences} == '신입'">신입</option>
				<option value="경력" th:selected="${modify.yofExperiences} == '경력'">경력</option>
				<option value="경력무관"
					th:selected="${modify.yofExperiences} == '경력무관'">경력무관</option>
			</select><br>
		</div>

		<div class="form-group">
			<label for="minEdubglcd">학력제한</label> <select id="minEdubglcd"
				name="minEdubglcd">
				<option value="">선택</option>
				<option th:each="eduCode : ${eduCodes}" th:value="${eduCode.학력}"
					th:text="${eduCode.학력}"
					th:selected="${modify.minEdubglcd} == ${eduCode.학력}"></option>
			</select>
		</div>
		<div class="form-group" id="needskillContainer">
			<label for="needskill">필요스킬</label>
			<button type="button"
				onclick="addInput('needskillContainer', 'needskillInput')">추가</button>
		</div>
		<div>
			<p>
				<strong>접수방법</strong>
			</p>
			<label for="option1">잡왕 이력서 지원</label> <input type="radio"
				id="option1" name="rcptMthd" value="잡왕이력서지원"
				th:checked="${modify.rcptMthd == '잡왕이력서지원'}"> <label
				for="option2">홈페이지 방문 지원</label> <input type="radio" id="option2"
				name="rcptMthd" value="홈페이지방문지원"
				th:checked="${modify.rcptMthd == '홈페이지방문지원'}">
		</div>
		<br>
		<div class="form-group">
    <label for="startTime">근무 시작 시간:</label>
    <select id="startHour" name="startHour">
        <option th:each="hour : ${#numbers.sequence(0, 23)}"
                th:value="${hour}"
                th:text="${hour} + '시'"
                th:selected="${hour == wkdWkhCntList[0]}"></option> 
    </select>
    <select id="startMinute" name="startMinute">
        <option th:each="minute : ${#numbers.sequence(0, 59)}"
                th:value="${minute}"
                th:text="${minute} + '분'"
                th:selected="${minute == wkdWkhCntList[1]}"></option>
    </select>
    <label for="endTime">근무 종료 시간:</label>
    <select id="endHour" name="endHour">
        <option th:each="hour : ${#numbers.sequence(0, 23)}"
                th:value="${hour}"
                th:text="${hour} + '시'"
                th:selected="${hour == wkdWkhCntList[2]}"></option> 
    </select>
    <select id="endMinute" name="endMinute">
        <option th:each="minute : ${#numbers.sequence(0, 59)}"
                th:value="${minute}"
                th:text="${minute} + '분'"
                th:selected="${minute == wkdWkhCntList[3]}"></option>
    </select>
</div>
		<div class="form-group">
			<label for="salTpCd">급여조건</label> <select id="salTpCd" name="salTpCd">
				<option value="일급" th:selected="${modify.salTpCd} == '일급'">일급</option>
				<option value="월급" th:selected="${modify.salTpCd} == '월급'">월급</option>
				<option value="연봉" th:selected="${modify.salTpCd} == '연봉'">연봉</option>
			</select> <input type="text" id="salTpNm" name="salTpNm"
				th:value="${modify.salTpNm}"> 만 원
		</div>
		<div class="form-group">
			<label for="retirepay">퇴직금 여부</label> <input type="checkbox"
				id="retirepay" name="retirepay"
				th:checked="${modify.retirepay == 'on'}">
		</div>
		<div class="form-group">
			<label for="etcWelfare">기타복리후생</label>
			<textarea rows="5" cols="50" id="etcWelfare" name="etcWelfare"
				placeholder="내용을 입력해주세요." th:text="${modify.etcWelfare}"></textarea>
		</div>
		<div class="form-group">
			<label for="mltsvcExcHope">병역특례채용희망</label> <input type="checkbox"
				id="mltsvcExcHope" name="mltsvcExcHope"
				th:checked="${modify.mltsvcExcHope == 'on'}">
		</div>
		<div class="form-group">
			<label for="keywordSearch">키워드 검색:</label> <input type="text"
				id="keywordSearch" onkeyup="filterKeywords()"> <br> <label
				for="srchKeywordNm">채용공고 관련 키워드:</label> <select id="keywordSelect"
				onchange="addKeyword()">
			</select>
			<div id="selectedKeywords">
				<span
					th:each="keyword, iterStat : ${#strings.arraySplit(modify.srchKeywordNm, ',')}"
					th:with="currentIndex=${iterStat.index}"> <span
					th:text="${keyword.trim()}"></span>
					<button type="button"
						onclick="removeKeywordAndSpan(this, /*[[${keyword}]]*/ '')">x</button>
				</span>
			</div>
		</div>
		<input type="hidden" id="srchKeywordNmJson" name="srchKeywordNm">
		<div class="form-group">
			<label for="empName">담당자명</label> <input type="text" id="empName"
				name="empName" th:value="${modify.empName}">
		</div>
		<div class="form-group">
			<label for="empTel">연락처</label> <input type="text" id="empTel"
				name="empTel" th:value="${modify.empTel}">
		</div>
		<div class="form-group">
			<label for="empEmail">이메일</label> <input type="text" id="empEmail"
				name="empEmail" th:value="${modify.empEmail}">
		</div>
		<input type="submit" value="등록하기">
	</form>
	<script th:inline="javascript">

	document.addEventListener('DOMContentLoaded', function() {
	    updatePosition2Options(); 
	    updateSector2Options();
	    updateRegion2Options();
	    
	 // 수정 폼 로드 시 position2 값 설정 (추가)
	    const position2Select = document.getElementById('position2');
	    const modifyPosition2 = /*[[${modify.position2}]]*/ null; // Thymeleaf로 modify.position2 값 가져오기
	    if (modifyPosition2) {
	      const option = document.createElement('option');
	      option.value = modifyPosition2;
	      option.text = modifyPosition2;
	      option.selected = true;
	      position2Select.add(option);
	    }
	    
	 // 기존 jobCont 및 needskill 값을 배열 형태로 가져오기
	    const initialJobCont = /*[[${jobContList}]]*/ [];
	    const initialNeedskill = /*[[${needskillList}]]*/ [];
	    const initialSrchKeywordNm = /*[[${srchKeywordNmList}]]*/ [];

	    // jobCont, needskill 입력 필드 초기화 및 값 설정
	    const jobContContainer = document.getElementById('jobContContainer');
    	const needskillContainer = document.getElementById('needskillContainer');
    	const srchKeywordNmJsonInput = document.getElementById('srchKeywordNmJson');
    	const keywordSelect = document.getElementById('keywordSelect');
	    
	    initialJobCont.forEach((jobCont, index) => {
	      addInputWithValue('jobContContainer', 'jobContInput', jobCont, index);
	    });

	    initialNeedskill.forEach((needskill, index) => {
	      addInputWithValue('needskillContainer', 'needskillInput', needskill, index);
	    });
	    
	    // 이미 존재하는 키워드를 selectedKeywords 배열에 추가하고 선택된 상태로 설정
	    initialSrchKeywordNm.forEach(keyword => {
	        selectedKeywords.push(keyword);

	        // select 요소에서 해당 키워드를 찾아 선택 상태로 설정
	        for (let i = 0; i < keywordSelect.options.length; i++) {
	            if (keywordSelect.options[i].value === keyword) {
	                keywordSelect.options[i].selected = true;
	                break;
	            }
	        }
	    });

	    updateKeywordDisplay(); // 선택된 키워드 표시
	  });
	
	
	// addInput 함수 수정 (값을 받아서 입력 필드에 설정)
	function addInputWithValue(containerId, inputClass, value, index) {
		const container = document.getElementById(containerId);
	  	const existingInputs = container.querySelectorAll(`.${inputClass}`);
	 	const newIndex = index !== undefined ? index : existingInputs.length;

	  // 입력 필드 생성
	  const newInput = document.createElement('input');
    	newInput.type = 'text';
    	newInput.classList.add(inputClass);
    	newInput.name = containerId.replace('Container', ''); // name 속성을 jobCont 또는 needskill로 설정

    	newInput.value = value;

	  // 삭제 버튼 생성
	  const deleteButton = document.createElement('button');
    deleteButton.type = 'button';
    deleteButton.textContent = '삭제';
    deleteButton.onclick = function() {
      removeInput(containerId, this);
    };

	  // 컨테이너에 입력 필드와 삭제 버튼 추가
	  const newDiv = document.createElement('div');
	  newDiv.appendChild(newInput);
	  newDiv.appendChild(deleteButton);
	  container.insertBefore(newDiv, container.lastElementChild); // 추가된 부분
	}

	// 컨테이너에 이벤트 리스너 추가 (이벤트 위임)
	document.getElementById('jobContContainer').addEventListener('click', handleDeleteButtonClick);
	document.getElementById('needskillContainer').addEventListener('click', handleDeleteButtonClick);

	function handleDeleteButtonClick(event) {
	  if (event.target.tagName === 'BUTTON' && event.target.textContent === '삭제') {
	    const divToRemove = event.target.parentNode;
	    removeInput(divToRemove.parentNode.id, divToRemove); // 컨테이너 ID와 삭제할 div 요소 전달
	  }
	}
	
	function removeInput(containerId, elementToRemove) {
		  const container = document.getElementById(containerId);
		  container.removeChild(elementToRemove); // 부모 div 요소를 제거

		  // Update input names to match array indices after deletion
		  const remainingInputs = container.querySelectorAll(`input[name^="${containerId.replace('Container', '')}"]`);
		  remainingInputs.forEach((input, index) => {
		    input.name = `${containerId.replace('Container', '')}[${index}]`; 
		  });

		  // 남은 입력 필드가 하나도 없으면 빈 입력 필드 하나 추가 (jobCont, needskill은 필수 입력)
		  if (remainingInputs.length === 0) {
		      addInput(containerId, containerId.replace('Container', '') + 'Input');
		  }
		}
	

    function addInput(containerId, inputClass) {
        const container = document.getElementById(containerId);

        // 입력 필드 생성
        const newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.classList.add(inputClass);
        newInput.name = containerId.replace('Container', '');

        // 삭제 버튼 생성
        const deleteButton = document.createElement('button');
        deleteButton.type = 'button';
        deleteButton.textContent = '삭제';
        deleteButton.onclick = function() {
            container.removeChild(newInput);
            container.removeChild(deleteButton);
        };

        // 컨테이너에 입력 필드와 삭제 버튼 추가
        container.appendChild(newInput);
        container.appendChild(deleteButton);
    }
    
    function convertInputsToJson() {
    	
        const jobContInputs = document.querySelectorAll('.jobContInput');
        const filteredJobContArray = Array.from(jobContInputs)
        .filter(input => input.value.trim() !== '')  // 빈 값 제외
        .map(input => input.value);
        
        const needskillInputs = document.querySelectorAll('.needskillInput');
        const filteredNeedskillArray = Array.from(needskillInputs)
        .filter(input => input.value.trim() !== '')
        .map(input => input.value);
        
        const srchKeywordNmInputs = document.querySelectorAll('.srchKeywordNmInput');

        const jobContArray = Array.from(jobContInputs).map(input => input.value);
        const needskillArray = Array.from(needskillInputs).map(input => input.value);
        const srchKeywordNmArray = Array.from(srchKeywordNmInputs).map(input => input.value);

        const jobContJson = JSON.stringify(filteredJobContArray);
        const needskillJson = JSON.stringify(filteredNeedskillArray);
        const srchKeywordNmJson = document.getElementById('srchKeywordNmJson').value;

        document.getElementById('jobContJson').value = jobContJson;
        document.getElementById('needskillJson').value = needskillJson;
        document.getElementById('srchKeywordNmJson').value = srchKeywordNmJson;
    }
    
    
 // JSON 데이터 불러오기 (job.json 파일 경로 확인 필요)
    fetch('/json/job.json')
        .then(response => response.json())
        .then(data => {
            const select = document.getElementById('keywordSelect');
            const keywordSet = new Set(); // 중복 키워드 방지

            data.forEach(item => {
                if (!keywordSet.has(item["직무 키워드명"])) {
                    const option = document.createElement('option');
                    option.value = item["직무 키워드명"];
                    option.text = item["직무 키워드명"];
                    select.add(option);
                    keywordSet.add(item["직무 키워드명"]);
                }
            });
        });

    const selectedKeywords = [];

    function addKeyword() {
        const select = document.getElementById('keywordSelect');
        const selectedKeyword = select.value;
        if (selectedKeyword && !selectedKeywords.includes(selectedKeyword)) {
            selectedKeywords.push(selectedKeyword);
            updateKeywordDisplay();
        }
    }

    function removeKeyword(keyword) {
        const index = selectedKeywords.indexOf(keyword);
        if (index > -1) {
            selectedKeywords.splice(index, 1);
            updateKeywordDisplay();
        }
    }
    
    function filterKeywords() {
        const searchTerm = document.getElementById('keywordSearch').value.toLowerCase();
        const select = document.getElementById('keywordSelect');
        const options = select.options;

        for (let i = 0; i < options.length; i++) {
            const optionText = options[i].text.toLowerCase();
            if (optionText.includes(searchTerm)) {
                options[i].style.display = 'block';
            } else {
                options[i].style.display = 'none';
            }
        }
    }

    function updateKeywordDisplay() {
        const keywordsContainer = document.getElementById('selectedKeywords');
        keywordsContainer.innerHTML = ''; // 기존 키워드 초기화

        selectedKeywords.forEach(keyword => {
            const keywordSpan = document.createElement('span');
            keywordSpan.textContent = keyword;

            const deleteButton = document.createElement('button');
            deleteButton.textContent = 'x';
            deleteButton.onclick = () => removeKeyword(keyword);

            keywordsContainer.appendChild(keywordSpan);
            keywordsContainer.appendChild(deleteButton);
        });

        // 선택된 키워드 JSON 업데이트
        document.getElementById('srchKeywordNmJson').value = JSON.stringify(selectedKeywords);
    }
    
    /*<![CDATA[*/
    const allJobs = /*[[${allJobs}]]*/ {};  
    const allSectors = /*[[${allSectors}]]*/ {};
    const allRegions = /*[[${regions}]]*/ {};
    
    function updatePosition2Options() {
        const position1Select = document.getElementById('position1');
        const position2Select = document.getElementById('position2');
        const selectedPosition1Code = position1Select.options[position1Select.selectedIndex].getAttribute('data-code');

        // position2 옵션 초기화
        position2Select.innerHTML = '<option value="">선택</option>';

        // position1에 해당하는 position2 옵션 추가
        if (selectedPosition1Code) {
            const filteredJobs = allJobs.filter(job => String(job["직무 상위 코드"]) === selectedPosition1Code);
            filteredJobs.forEach(job => {
                const option = document.createElement('option');
                option.value = job["직무 키워드명"];
                option.text = job["직무 키워드명"];
                // 기존에 선택된 값과 일치하면 selected 속성 추가
                if (job["직무 키워드명"] === /*[[${modify.position2}]]*/ null) {
                    option.selected = true;
                }
                position2Select.add(option);
            });
        }
    }
 	// sector2 옵션 업데이트 함수
    function updateSector2Options() {
    const sector1Select = document.getElementById('sector1');
    const sector2Select = document.getElementById('sector2');
    const selectedSector1Code = sector1Select.options[sector1Select.selectedIndex].getAttribute('data-code');

    // sector2 옵션 초기화
    sector2Select.innerHTML = '<option value="">선택</option>';

    // sector1에 해당하는 sector2 옵션 추가
    if (selectedSector1Code) {
        const filteredSectors = allSectors.filter(sector => sector["상위코드"] == parseInt(selectedSector1Code, 10));
        filteredSectors.forEach(sector => {
            const option = document.createElement('option');
            option.value = sector["산업/업종명"];
            option.text = sector["산업/업종명"];
            option.setAttribute('data-sector1-code', sector["상위코드"]); 
            // 선택된 값과 일치하면 selected 속성 추가
            if (option.value === /*[[${modify.sector2}]]*/ null) {
                option.selected = true;
            }
            sector2Select.add(option);
        });
    }
}
 	
    function updateRegion2Options() {
        const region1Select = document.getElementById('region1');
        const region2Select = document.getElementById('region2');
        const selectedRegion1 = region1Select.value;

        // region2 옵션 초기화
        region2Select.innerHTML = '<option value="">선택</option>';

        // region1에 해당하는 region2 옵션 추가
        if (selectedRegion1) {
            const districts = allRegions[selectedRegion1];
            districts.forEach(district => {
                const option = document.createElement('option');
                option.value = district;
                option.text = district;

                // 기존에 선택된 값과 일치하면 selected 속성 추가
                if (district === /*[[${modify.region2}]]*/ null) {
                    option.selected = true;
                }

                region2Select.add(option);
            });
        }
    }
 	
    /*]]>*/
    
    /*
    // 근무 시간 옵션 생성 함수
    function createHourOptions(selectId) {
        const select = document.getElementById(selectId);
        for (let i = 0; i <= 23; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = i + '시';
            select.add(option);
        }
    }

    function createMinuteOptions(selectId) {
        const select = document.getElementById(selectId);
        for (let i = 0; i <= 59; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = i + '분';
            select.add(option);
        }
    }
*/
    // 페이지 로드 시 옵션 생성
    createHourOptions('startHour');
    createMinuteOptions('startMinute');
    createHourOptions('endHour');
    createMinuteOptions('endMinute');

    
</script>

	<input type="hidden" id="jobContJson" name="jobCont">
	<input type="hidden" id="needskillJson" name="needskill">
	<input type="hidden" id="srchKeywordNmJson" name="srchKeywordNm">
</body>
</html>