<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/com_nav.css">
<link rel="stylesheet" type="text/css" href="/css/com_mainpage.css">
<style>
	.footer{
		padding-top:20px;
		border-top:1px solid darkgray;
	}
</style>
</head>

<body>
	<header>
		<div th:replace="~{/fragments/company_nav.html :: fragment-company_nav}"></div>
	</header>
	<div class="container">
		<div id="ad-container">
			<div class="box">광고1 </div>
			<div class="box">광고2 </div>
			<div class="box">광고3 </div>
		</div>
	</div>
	
	<div class="match">
		<div class="box human">구직자1</div>
		<div class="box human">구직자2</div>
		<div class="box human">구직자3</div>
		<div class="box human">구직자4</div>
		<div class="box human">구직자5</div>
	</div>
	
	<div class="miniboard">
		<div id="boardcontent">
			<h3>title</h3><br>
			<p>content/content/content/content/</p>
		</div>
		<div id="boardcontent">
			<h3>title2</h3><br>
			<p>content2/content2/content2/content2/</p>
		</div>
	</div>
	
	<footer class="footer">
		고객센터 1588-9350 (평일 09:00 ~ 19:00 토요일 09:00 ~ 15:00)  FAX 02-565-9351  Email helpdesk@jobkorea.co.kr<br>
		대표 : 윤현준  사업자등록번호 : 110-81-34859사업자정보 확인 > 주소 : 서울시 서초구 서초대로 301 동익성봉빌딩 16~18층<br>
		통신판매업 신고번호 : 2016-서울서초-0287호 직업정보제공사업 신고번호 : 서울청 제2016-11호 유료직업소개업 등록번호 : 제2002-3210195-14-5-
	</footer>

	<script>
		const miniboard = document.querySelector('.miniboard');
		
		const children = miniboard.children;
		
		for(let i = 0; i < children.length; i++){
			children[i].style.backgroundColor = 'darkgray';
		}
	</script>
	

</body>
</html>