<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>등록된 채용공고</title>
	<link rel="stylesheet" type="text/css" href="/css/com_nav.css">
	<link rel="stylesheet" type="text/css" href="/css/com_sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/com_jobadList.css">

</head>
<body>
	<header>
		<div th:replace="~{/fragments/company_nav.html :: fragment-company_nav}"></div>
	</header>
	<div class="container">
		<div th:replace="~{/fragments/company_sidebar.html :: fragment-companySidebar}"></div>
		<div class="content">
				<div class="listcontent">
			<div class="listtop">
				<div class="list-header-left">
					<h3>채용공고 목록</h3>
				</div>
				<div class="list-header-right">
					<button class="button" onclick="location.href='regi_jobadForm'">채용공고등록</button>
				</div>
			</div>
			
			
			<div class="list">
				<div id="jobad">
					<table>
						<thead>
							<tr>
								<th>기업이름</th>
								<th>공고제목</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dto : ${list}">
								<td th:text="${dto.company.cname}"></td>
								<td><a th:href="@{/company/com_jobDetail(jno=${dto.jno})}">[[${dto.wantedTitle}]]</a></td>
								<td><button type="button" th:onclick="|location.href='@{/company/com_modifyForm(jno=${dto.jno})}'|">수정하기</button></td>
								<td><button type="button" th:onclick="|if(confirm('정말 삭제하시겠습니까?')) location.href='@{/company/com_jobdelete(jno=${dto.jno})}'|">삭제하기</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</div>
	

</body>
</html>