@charset "UTF-8";

main {
    display: flex;
    margin: 0 auto;
}
#reviewWrap{
	width:1000px;
	height:1800px;
	position:relative;
	padding:10px;
	top:30px;
	left:300px;
}

h1, h3 {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

table {
    border: 1px #c3c3c4 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  th {
    text-align: center;
    background-color:#3399ff;
    color:white;
  }
    
  thead {
    font-weight: bold;
    color: #fff;
    background: #3399ff;
    font: 900 15px/30px 'Pretendard-Regular';

  }
    
   td, th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
    font: 500 15px/30px 'Pretendard-Regular';
  }
    
   td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }
  
table a {
  color: #3399ff;
}


span {
    display: inline-block;
    margin: 2px 0;
}

.review-section {
    margin-bottom: 20px;
}

.review-section h3 {
    font-weight: bold;
    margin-top: 40px;
}

.star-rating {
    color: gold;
}


button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

div.text-content {
    line-height: 2; /* 원하는 줄 간 간격 값으로 설정, 예: 1.6 */
}
