.container{
	width: 1200px;
    margin: 50px auto;   
}
ul.tabs{
    width: 700px; height: 52px;
    font: 500 15px/30px 'Pretendard-Regular';
}
ul.tabs li{
	display: inline-block;
    width: 160px;
	background-color: #f9fafc;
    border: 1px solid lightgray;
    box-sizing: border-box;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #4a5470;
	color: #fff;
}

.tab-content{
    font: 500 15px/30px 'Pretendard-Regular';
	display: none;
    border: 1px solid #4a5470;
    box-sizing: border-box;
	background: #fff;
	padding: 15px;
}

.tab-content.current{
	display:flex;
}
.tab-content .topCateogory{
	display: flex;
	flex-wrap: wrap;
	width: 300px; /* 너비 조절 */ 
    max-height: 150px; /* 최대 높이 설정 */
    overflow-y: auto; /* 수직 스크롤바 추가 */ 
    padding: 10px; /* 패딩 추가 */ 
 } 
.topCateogory li{
	margin: 10px; /* 아이템 간 간격 */
} 
.tab-content .category{
	display: flex; 
	flex-wrap: wrap; 
	width: 800px; /* 너비 조절 */ 
    max-height: 150px; /* 최대 높이 설정 */ 
    overflow-y: auto; /* 수직 스크롤바 추가 */ 
    padding: 10px; /* 패딩 추가 */ 
 } 
/*  .gu li{ */
/* 		margin-right: 15px; /* 아이템 간 간격 */ */
/*              color: black; /* 글자색 설정 */  */
/*  } */
#regionFilter, #sectorFilter, #jobFilter {
	display:flex;
} 
.tab-content .category li{
	margin-right:15px;
}

button{
    width: 115px; height: 40px;
    font: 500 15px/40px 'Pretendard-Regular';
    border: 0;
    color: #fff;
    background-color: #3399ff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.01), 0 6px 6px rgba(0,0,0,0.05);
    text-align: center;
    position: relative; top: -30px; left: 1227px;
}
#listContainer{
	width: 1200px; height: 400px;
	position: relative; top: -300px; left: 350px;
	clear: both;
}

.jobad{
	width: 300px; height: 100px;
	background-color: #fff;
	border: 1px solid lightgray;
	box-sizing: border-box;
    font: 500 15px/20px 'Pretendard-Regular';
    float: left;
}
.t2{
	font: 900 16px/20px 'Pretendard-Regular';
}
.t3{
	font: 900 14px/20px 'Pretendard-Regular';
	float: left;
}

#icon{
	float: right;
}
